<button class="button back" routerLink="/dashboard" routerLinkActive="active">
    < Back </button>
<div class="container trial-offer-container">
  <div class="header">Subscribe now and get 20% OFF Kora!</div>
  <div class="promo">Your 20% OFF Coupon Code is <span class="bold promo-code">3A6B0B83</span></div>
  <div class="disclaimer">
      <div class="note">Offer valid only for active trial upgrades. Your trial expires in:</div>
      <div class="time-bar">
          <div class="section">
              <div class="number">{{trialTimeRemaining.days}}</div>
              <div class="unit">Days</div>
          </div>
          <div class="section">
              <div class="number">{{trialTimeRemaining.hours}}</div>
              <div class="unit">Hours</div>
          </div>
          <div class="section">
              <div class="number">{{trialTimeRemaining.minutes}}</div>
              <div class="unit">Mins</div>
          </div>
          <div class="section">
              <div class="number">{{trialTimeRemaining.seconds}}</div>
              <div class="unit">Secs</div>
          </div>
      </div>
  </div>
  <i class="material-icons down-arrow">arrow_downward</i>
  <div class="button-wrapper">
    <button class="button plans-button" (click)="onViewPlans()">View Kora plans</button>
  </div>
  <div class="description code-cta">After you subscribe, we'll email you a premium code to register below
  </div>
  <div class="code-input-bar">
    <input class="code-input" [(ngModel)]="code" (keydown)="onKeydown($event)" type="text" placeholder="premium code">
    <button (click)="submitCode()" class="button">Submit</button>
    <div class="clearfix"></div>
  </div>
  <div class="paste-instructions">Ctrl + V to paste code</div>
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
  <div class="row heroes">
    <div class="col">
      <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
    </div>
  </div>
</div>
<div class="support">Support: korablocker@gmail.com</div>
<ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
</ngx-spinner>