/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }

    .header {
        margin-top: 65px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 18px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 17px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 5px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .time-bar .section .number {
        font-size: 24px;
        font-family: PoppinsSemiBold;
    }
    
    .time-bar .section .unit {
        font-size: 13px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .promo {
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 19px;        
    }

    .promo-code {
        color: rgb(4, 165, 4);
    }

    .down-arrow {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-size: 50px;        
    }
    
    .button-wrapper {
        margin-top: 9px;
        text-align: center;
        margin-bottom: 25px;
    }

    .button {
        font-size: 16px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 68%;
        margin: 0 auto;
        margin-top: 18px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        margin-top: 1px;
        height: 44px;
        font-size: 22px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 130px;
    }
    
    .support {
        margin-top: 27px;
        text-align: center;
        font-size: 18px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }

    .header {
        margin-top: 65px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 18px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 17px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 5px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .time-bar .section .number {
        font-size: 24px;
        font-family: PoppinsSemiBold;
    }
    
    .time-bar .section .unit {
        font-size: 13px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .promo {
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 19px;        
    }

    .promo-code {
        color: rgb(4, 165, 4);
    }

    .down-arrow {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-size: 50px;        
    }
    
    .button-wrapper {
        margin-top: 9px;
        text-align: center;
        margin-bottom: 25px;
    }

    .button {
        font-size: 15px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 68%;
        margin: 0 auto;
        margin-top: 18px;
    }   
    
    .code-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 42px;
        font-size: 18px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 130px;
    }
    
    .support {
        margin-top: 27px;
        text-align: center;
        font-size: 18px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }

    .header {
        margin-top: 70px;
        font-family: PoppinsBold;
        font-size: 28px;
        text-align: center;
        margin-bottom: 18px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 19px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .time-bar .section .number {
        font-size: 25px;
        font-family: PoppinsSemiBold;
    }
    
    .time-bar .section .unit {
        font-size: 13px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .promo {
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 22px;        
    }

    .promo-code {
        color: rgb(4, 165, 4);
    }

    .down-arrow {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-size: 52px;        
    }
    
    .button-wrapper {
        margin-top: 8px;
        text-align: center;
        margin-bottom: 30px;
    }

    .button {
        font-size: 16px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        margin-top: 1px;
        height: 44px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 135px;
    }
    
    .support {
        margin-top: 25px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }

    .header {
        margin-top: 80px;
        font-family: PoppinsBold;
        font-size: 33px;
        text-align: center;
        margin-bottom: 22px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-bottom: 20px;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 22px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    .time-bar .section .number {
        font-size: 29px;
        font-family: PoppinsSemiBold;
    }
    
    .time-bar .section .unit {
        font-size: 14px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .promo {
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 24px;        
    }

    .promo-code {
        color: rgb(4, 165, 4);
    }

    .down-arrow {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-size: 59px;        
    }
    
    .button-wrapper {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 18px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 47px;
        font-size: 21px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 38px;
    }
    
    .hero {
        width: 162px;
    }
    
    .support {
        margin-top: 32px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 20px;
    }

    .header {
        margin-top: 120px;
        font-family: PoppinsBold;
        font-size: 39px;
        text-align: center;
    }
    
    .description {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 22px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    .time-bar .section .number {
        font-size: 31px;
        font-family: PoppinsSemiBold;
    }
    
    .time-bar .section .unit {
        font-size: 14px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .promo {
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 26px;        
    }

    .promo-code {
        color: rgb(4, 165, 4);
    }

    .down-arrow {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-size: 60px;        
    }
    
    .button-wrapper {
        margin-top: 12px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 20px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 70px;
    }
    
    .hero {
        width: 170px;
    }
    
    .support {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

.time-bar .section .number {
    font-family: VarelaRoundRegular;
    font-weight: 800;
}

.plans-button {
    font-family: PoppinsSemiBold;
    background: #1DB954;
}

.plans-button:hover {
    background: #1ED760;
}