/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .support-container {
        text-align: center
    }
    
    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 38px;
    }
    
    .subheader {
        margin-top: 12px;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .email {
        opacity: 0;
        margin-top: 15px;
        font-family: PoppinsSemiBold;
        font-size: 25px;
        animation: fadeIn 1.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .support-code-panel {
        opacity: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #e2ebf3;
        animation: fadeIn 1.5s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    
    .code-input-bar {
        width: 400px;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 15px;
    }   
    
    .code-input {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .paste-instructions {
        margin-top: 9px;
        font-size: 15px;
    }
    
    .error {
        margin-top: 40px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 20px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .support-container {
        text-align: center
    }
    
    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 38px;
    }
    
    .subheader {
        margin-top: 12px;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .email {
        opacity: 0;
        margin-top: 15px;
        font-family: PoppinsSemiBold;
        font-size: 25px;
        animation: fadeIn 1.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .support-code-panel {
        opacity: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #e2ebf3;
        animation: fadeIn 1.5s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    
    .code-input-bar {
        width: 400px;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 15px;
    }   
    
    .code-input {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .paste-instructions {
        margin-top: 9px;
        font-size: 15px;
    }
    
    .error {
        margin-top: 40px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 20px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }
    
    .support-container {
        text-align: center
    }
    
    .header {
        margin-top: 105px;
        font-family: PoppinsBold;
        font-size: 42px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .email {
        opacity: 0;
        margin-top: 15px;
        font-family: PoppinsSemiBold;
        font-size: 26px;
        animation: fadeIn 1.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .support-code-panel {
        opacity: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #e2ebf3;
        animation: fadeIn 1.5s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    
    .code-input-bar {
        width: 400px;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 15px;
    }   
    
    .code-input {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .paste-instructions {
        margin-top: 9px;
        font-size: 15px;
    }
    
    .error {
        margin-top: 40px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 20px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }
    
    .support-container {
        text-align: center
    }
    
    .header {
        margin-top: 115px;
        font-family: PoppinsBold;
        font-size: 45px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 23px;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .email {
        opacity: 0;
        margin-top: 15px;
        font-family: PoppinsSemiBold;
        font-size: 28px;
        animation: fadeIn 1.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .support-code-panel {
        opacity: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #e2ebf3;
        animation: fadeIn 1.5s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    
    .code-input-bar {
        width: 400px;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 15px;
    }   
    
    .code-input {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .paste-instructions {
        margin-top: 9px;
        font-size: 15px;
    }
    
    .error {
        margin-top: 40px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 20px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
    }
    
    .support-container {
        text-align: center
    }
    
    .header {
        margin-top: 125px;
        font-family: PoppinsBold;
        font-size: 50px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 25px;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .email {
        opacity: 0;
        margin-top: 15px;
        font-family: PoppinsSemiBold;
        font-size: 30px;
        animation: fadeIn 1.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .support-code-panel {
        opacity: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #e2ebf3;
        animation: fadeIn 1.5s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    
    .code-input-bar {
        width: 400px;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 15px;
    }   
    
    .code-input {
        float: left;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 20px;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .paste-instructions {
        margin-top: 9px;
        font-size: 15px;
    }
    
    .error {
        margin-top: 40px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 20px;
    }
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: block;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}