<app-blocker-add-sites *ngIf="editable && !(sitesLocked && switcherChoice === 'exceptions')" [switcherChoice]="switcherChoice" (siteAdded)="addSite($event)"></app-blocker-add-sites>
<app-blocked-sites-exceptions [switcherChoice]="switcherChoice" [blockedSites]="blockedSites" [exceptions]="exceptions" [editable]="editable" [sitesLocked]="sitesLocked" [displayMode]="displayMode" (switcherChange)="onSwitcherChange($event)"></app-blocked-sites-exceptions>
 