/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .sites {
        text-align: center;
        margin-top: 40px;
    }
    
    .block-site-bar {
        margin-top:  8px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .sites {
        text-align: center;
        margin-top: 40px;
    }
    
    .block-site-bar {
        margin-top: 8px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .sites {
        text-align: center;
        margin-top: 40px;
    }
    
    .block-site-bar {
        margin-top: 9px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .sites {
        text-align: center;
        margin-top: 40px;
    }
    
    .block-site-bar {
        margin-top: 10px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .sites {
        text-align: center;
        margin-top: 40px;
    }
    
    .block-site-bar {
        margin-top: 12px;
    }
}