<div class="sites">
  <div class="header" *ngIf="switcherChoice === 'blocked sites'">Which sites should I block?</div>
  <div class="header" *ngIf="switcherChoice === 'exceptions'">Which urls should I let through?</div>
  <div class="subheader" *ngIf="switcherChoice === 'exceptions'">Ex: Block all of distraction.com except
    distraction.com/yourbioclassgroup/</div>
  <div class="block-site-bar">
    <app-site-bar (addedSite)="addSite($event)"></app-site-bar>
  </div>
</div>