<button class="button back" routerLink="/settings" routerLinkActive="active">< Back</button>
<div class="container trial-expired-container">
    <div class="header">Subscribe and upgrade Kora!</div>
    <div class="description">You're currently on the free trial version of Kora. To upgrade and continue using Kora after your trial ends, subscribe to one of our monthly or annual plans.</div>
    <div class="description"></div>
    <div class="button-wrapper">
      <button class="button plans-button" (click)="onViewPlans()">View Kora plans</button>
    </div>
    <div class="description code-cta">After you subscribe, we'll email you a premium code to register below</div>
    <div class="code-input-bar">
        <input class="code-input" [(ngModel)]="code" (keydown)="onKeydown($event)" type="text" placeholder="premium code">
        <button (click)="submitCode()" class="button">Submit</button>
        <div class="clearfix"></div>
    </div>  
    <div class="paste-instructions">Ctrl + V to paste code</div>
    <div class="error" *ngIf="error.length > 0">{{error}}</div>
    <div class="row heroes">
      <div class="col">
          <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
      </div>
    </div>
  </div>
  <div class="support">Support: korablocker@gmail.com</div>
  <ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
  </ngx-spinner>