/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .container {
        max-width: 800px;
    }

    .header {
        margin-top: 67px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .button {
        font-size: 15px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 42px;
        font-size: 18px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 16px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }

    .container {
        max-width: 800px;
    }

    .header {
        margin-top: 67px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .button {
        font-size: 15px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 42px;
        font-size: 18px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 16px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }

    .container {
        max-width: 885px;
    }

    .header {
        margin-top: 75px;
        font-family: PoppinsBold;
        font-size: 27px;
        text-align: center;
        margin-bottom: 17px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 17px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 35px;
    }

    .button {
        font-size: 16px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 44px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 17px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }

    .container {
        max-width: 995px;
    }

    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 31px;
        text-align: center;
        margin-bottom: 19px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 18px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 47px;
        font-size: 21px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 50px;
    }
    
    .hero {
        width: 152px;
    }
    
    .support {
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 20px;
    }

    .container {
        max-width: 1140px;
    }

    .header {
        margin-top: 130px;
        font-family: PoppinsBold;
        font-size: 39px;
        text-align: center;
        margin-bottom: 21px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 20px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 70px;
    }
    
    .hero {
        width: 170px;
    }
    
    .support {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

.plans-button {
    font-family: PoppinsSemiBold;
    background: #1DB954;
}

.plans-button:hover {
    background: #1ED760;
}

