<app-laser-add-sites *ngIf="editing && !exceptionsLocked" (exceptionAdded)="addException($event)"></app-laser-add-sites>
<div *ngIf="exceptions.length > 0">
    <div class="header">Allowed sites</div>
    <app-sites [blockedSites]="exceptions" [editable]="editing" (removeSite)="removeException($event)"></app-sites>
</div>