<div class="supported-browser-container">
  <div class="header">Kora currently supports Chrome</div>
  <div class="subheader">To use Kora, click below and install Chrome</div>
  <div class="button-wrapper">
    <button class="button" (click)="installChrome()">Install Chrome</button>
  </div>
  <div class="img-wrapper delay-1">
    <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
      src="./assets/imgs/block_atom_active.png" draggable="false">
  </div>
</div>
