/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
  .header {
    margin-top: 110px;
    font-family: PoppinsBold;
    font-size: 25px;
  }
  
  .subheader {
    margin-top: 6px;
    font-family: PoppinsMedium;
    font-size: 20px;
    margin-bottom: 21px;
  }

  .button {
    font-size: 16px;
  }

  .img-wrapper {
    margin-top: 25px;
  }
  
  .hero-image {
    width: 155px;
  }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 110px;
    font-family: PoppinsBold;
    font-size: 25px;
  }
  
  .subheader {
    margin-top: 6px;
    font-family: PoppinsMedium;
    font-size: 20px;
    margin-bottom: 21px;
  }

  .button {
    font-size: 16px;
  }

  .img-wrapper {
    margin-top: 25px;
  }
  
  .hero-image {
    width: 155px;
  }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
  .header {
    margin-top: 110px;
    font-family: PoppinsBold;
    font-size: 25px;
  }
  
  .subheader {
    margin-top: 6px;
    font-family: PoppinsMedium;
    font-size: 20px;
    margin-bottom: 21px;
  }

  .button {
    font-size: 16px;
  }

  .img-wrapper {
    margin-top: 25px;
  }
  
  .hero-image {
    width: 155px;
  }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
  .header {
    margin-top: 120px;
    font-family: PoppinsBold;
    font-size: 28px;
  }
  
  .subheader {
    margin-top: 6px;
    font-family: PoppinsMedium;
    font-size: 22px;
    margin-bottom: 23px;
  }

  .button {
    font-size: 17px;
  }

  .img-wrapper {
    margin-top: 25px;
  }
  
  .hero-image {
    width: 170px;
  }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
  .header {
    margin-top: 150px;
    font-family: PoppinsBold;
    font-size: 35px;
  }
  
  .subheader {
    margin-top: 10px;
    font-family: PoppinsMedium;
    font-size: 25px;
    margin-bottom: 23px;
  }

  .button {
    font-size: 18px;
  }

  .img-wrapper {
    margin-top: 30px;
  }
  
  .hero-image {
    width: 190px;
  }
}

.supported-browser-container {
  text-align: center;
}

.browser-item:hover {
  cursor: default;
  background-color: #40d06c3d;
}

.hero-image:focus {
  outline: 0;
}

.delay-1 {
  animation: hover 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes hover {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 3px, 0); }
}