<button class="button back" routerLink="/settings" routerLinkActive="active">< Settings</button>
<div class="container support-container">
  <div class="header">Support</div>
  <div class="subheader">If you have any questions, would like to give us feedback, or have an awesome story to share, shoot us an email.</div>
  <div class="email">korablocker@gmail.com</div>

  <mat-expansion-panel class="support-code-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Enter your support code here
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <div class="code-input-bar">
        <input class="code-input" [(ngModel)]="code" type="text" placeholder="Code">
        <button class="button" (click)="onCodeSubmit()">Enter</button>
        <div class="clearfix"></div>
        <div class="paste-instructions">Ctrl + V to paste code</div>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
</div>
<ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
</ngx-spinner>