/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .header {
        margin-top: 85px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 40px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .atom-container {
        margin-top: 10px;
        text-align: center;
    }
    
    .hero-image {
        width: 135px;
        display: block;
        margin: auto;
    }
    
    .hero-name {
        display: inline-block;
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 22px;
    }
    
    .description {
        font-size: 16px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .header {
        margin-top: 85px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 40px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .atom-container {
        margin-top: 10px;
        text-align: center;
    }
    
    .hero-image {
        width: 135px;
        display: block;
        margin: auto;
    }
    
    .hero-name {
        display: inline-block;
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 22px;
    }
    
    .description {
        font-size: 16px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 55px;
        font-size: 17px;
    }
    
    .header {
        margin-top: 90px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 42px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .atom-container {
        margin-top: 10px;
        text-align: center;
    }
    
    .hero-image {
        width: 140px;
        display: block;
        margin: auto;
    }
    
    .hero-name {
        display: inline-block;
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 23px;
    }
    
    .description {
        font-size: 17px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 65px;
        font-size: 18px;
    }
    
    .header {
        margin-top: 80px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 44px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .atom-container {
        margin-top: 10px;
        text-align: center;
    }
    
    .hero-image {
        width: 150px;
        display: block;
        margin: auto;
    }
    
    .hero-name {
        display: inline-block;
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 24px;
    }
    
    .description {
        font-size: 17px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        margin-top: 50px;
        margin-left: 75px;
    }
    
    .header {
        margin-top: 115px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 50px;
        text-align: center;
        margin: 0;
        margin-bottom: 40px;
    }
    
    .atom-container {
        margin-top: 10px;
        text-align: center;
    }
    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
    }

    .hero-name {
        display: inline-block;
        margin-top: 25px;
        font-family: PoppinsMedium;
        font-size: 28px;
    }
    
    .description {
        font-size: 19px;
    }
}

.hero-image:focus {
    outline: 0;
}

.hero-image:hover {
    cursor: pointer;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}