<button class="button back" routerLink="/dashboard" routerLinkActive="active">
  < Dashboard</button> <div class="container select-atom-container">
    <div class="header">
      <h1 class="headline">Choose a block</h1>
    </div>
    <div class="row atom-row">
      <div class="col">
        <div class="atom-container">
          <div class="atom">
            <div class="img-wrapper delay-1">
              <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
                src="./assets/imgs/block_atom_active.png" draggable="false">
            </div>
            <div class="hero-name">Blocker</div>
            <div class="description">Blocks distracting sites</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="atom-container">
          <div class="atom">
            <div class="img-wrapper delay-1">
              <img class="hero-image" routerLink="/laser" routerLinkActive="active" src="./assets/imgs/laser_atom_active.png" draggable="false">
            </div>
            <div class="hero-name-wrapper">
              <div class="hero-name">Laser</div>
              <div class="description">Only lets you on productive sites</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row atom-row">
      <div class="col">
        <div class="atom-container">
          <div class="atom">
            <div class="img-wrapper delay-1">
              <img class="hero-image" routerLink="/blackout" routerLinkActive="active" src="./assets/imgs/blackout_atom_active.png" draggable="false">
            </div>
            <div class="hero-name-wrapper">
              <div class="hero-name">Blackout</div>
              <div class="description">Blocks all sites on the internet</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>