<div class="container trial-offer-container">
  <div class="header">SPECIAL PROMO: Get 20% OFF Kora!</div>
  <div class="disclaimer">
    <div class="note">Offer valid only for active trial upgrades. Your trial expires in:</div>
    <div class="time-bar">
      <div class="section">
        <div class="number">{{trialTimeRemaining.days}}</div>
        <div class="unit">Days</div>
      </div>
      <div class="section">
        <div class="number">{{trialTimeRemaining.hours}}</div>
        <div class="unit">Hours</div>
      </div>
      <div class="section">
        <div class="number">{{trialTimeRemaining.minutes}}</div>
        <div class="unit">Mins</div>
      </div>
      <div class="section">
        <div class="number">{{trialTimeRemaining.seconds}}</div>
        <div class="unit">Secs</div>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button class="button offer-button" (click)="onGetCodeClicked()">Get 20% OFF promo code ></button>
  </div>
  <div class="row heroes">
    <div class="col">
      <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
    </div>
  </div>
  <div class="dashboard" (click)="onDashboardClicked()">Dashboard ></div>
</div>