/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin-top: 84px;
        font-family: PoppinsBold;
        font-size: 24px;
        text-align: center;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 15px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 15px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .time-bar .section .number {
        font-size: 22px;
    }
    
    .time-bar .section .unit {
        font-size: 11px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .button-wrapper {
        margin-top: 20px;
        text-align: center;
    }

    .button {
        font-size: 15px;
    }

    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }

    .dashboard {
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
        font-family: PoppinsMedium;
        color: #b5b5b5;
    }

    .dashboard:hover {
        cursor: pointer;
        color: #536479;
    }

    .dashboard:focus {
        outline: 0;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin-top: 84px;
        font-family: PoppinsBold;
        font-size: 24px;
        text-align: center;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 15px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 15px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .time-bar .section .number {
        font-size: 22px;
    }
    
    .time-bar .section .unit {
        font-size: 11px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .button-wrapper {
        margin-top: 20px;
        text-align: center;
    }

    .button {
        font-size: 15px;
    }

    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }

    .dashboard {
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
        font-family: PoppinsMedium;
        color: #b5b5b5;
    }

    .dashboard:hover {
        cursor: pointer;
        color: #536479;
    }

    .dashboard:focus {
        outline: 0;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin-top: 95px;
        font-family: PoppinsBold;
        font-size: 27px;
        text-align: center;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 16px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 17px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .time-bar .section .number {
        font-size: 24px;
    }
    
    .time-bar .section .unit {
        font-size: 12px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .button-wrapper {
        margin-top: 28px;
        text-align: center;
    }

    .button {
        font-size: 16px;
    }

    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }

    .dashboard {
        margin-top: 30px;
        text-align: center;
        font-size: 15px;
        font-family: PoppinsMedium;
        color: #b5b5b5;
    }

    .dashboard:hover {
        cursor: pointer;
        color: #536479;
    }

    .dashboard:focus {
        outline: 0;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-top: 100px;
        font-family: PoppinsBold;
        font-size: 32px;
        text-align: center;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 19px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 21px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    .time-bar .section .number {
        font-size: 27px;
    }
    
    .time-bar .section .unit {
        font-size: 14px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .button-wrapper {
        margin-top: 32px;
        text-align: center;
    }

    .button {
        font-size: 18px;
    }

    .heroes {
        margin-top: 50px;
    }
    
    .hero {
        width: 145px;
    }

    .dashboard {
        margin-top: 40px;
        text-align: center;
        font-size: 16px;
        font-family: PoppinsMedium;
        color: #b5b5b5;
    }

    .dashboard:hover {
        cursor: pointer;
        color: #536479;
    }

    .dashboard:focus {
        outline: 0;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-top: 105px;
        font-family: PoppinsBold;
        font-size: 38px;
        text-align: center;
    }

    .disclaimer .note {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 22px;
    }
    
    .disclaimer {
        text-align: center;
    }

    .time-bar {
        display: inline-block;
        margin: 0 auto;
        margin-top: 22px;
        height: 60px;
    }
    
    .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    .time-bar .section .number {
        font-size: 31px;
    }
    
    .time-bar .section .unit {
        font-size: 14px;
        font-family: PoppinsSemiBold;
    }

    .bold {
        font-family: PoppinsBold;
    }

    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }

    .button {
        font-size: 20px;
    }

    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 170px;
    }

    .dashboard {
        margin-top: 50px;
        text-align: center;
        font-size: 18px;
        font-family: PoppinsMedium;
        color: #b5b5b5;
    }

    .dashboard:hover {
        cursor: pointer;
        color: #536479;
    }

    .dashboard:focus {
        outline: 0;
    }
}

.col {
    text-align: center;
}

.offer-button {
    font-family: PoppinsSemiBold;
    background: #1DB954;
}

.offer-button:hover {
    background: #1ED760;
}

.time-bar .section .number {
    font-family: VarelaRoundRegular;
    font-weight: 800;
}