/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .block-exception-switcher {
        text-align: center;
        margin-top: 64px;
        font-size: 28px;
    }
    
    .block-exception-switcher button {
        float: left;
        background: none;
        border: none;
        font-family: PoppinsMedium;
        color: #536479;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .block-exception-switcher {
        text-align: center;
        margin-top: 64px;
        font-size: 28px;
    }
    
    .block-exception-switcher button {
        float: left;
        background: none;
        border: none;
        font-family: PoppinsMedium;
        color: #536479;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .block-exception-switcher {
        text-align: center;
        margin-top: 64px;
        font-size: 30px;
    }
    
    .block-exception-switcher button {
        float: left;
        background: none;
        border: none;
        font-family: PoppinsMedium;
        color: #536479;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .block-exception-switcher {
        text-align: center;
        margin-top: 64px;
        font-size: 32px;
    }
    
    .block-exception-switcher button {
        float: left;
        background: none;
        border: none;
        font-family: PoppinsMedium;
        color: #536479;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .block-exception-switcher {
        text-align: center;
        margin-top: 64px;
        font-size: 35px;
    }
    
    .block-exception-switcher button {
        float: left;
        background: none;
        border: none;
        font-family: PoppinsMedium;
        color: #536479;
    }
}

.unselected {
    color: lightgray !important;
}

.unselected:hover {
    color: rgb(160, 158, 158) !important;
}

.switcher-container {
    display: inline-block;
}

.block-exception-switcher button:focus {outline:0;}

.block-exception-switcher .separator {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}