<div class="block-exception-switcher" [ngClass]="{hidden: !display}">
  <div class="switcher-container">
    <button [ngClass]="{unselected: switcherChoice !== 'blocked sites'}" (click)="onSwitcherChange('blocked sites')">Blocked
      sites</button>
    <div class="separator unselected"> | </div>
    <button [ngClass]="{'unselected': switcherChoice !== 'exceptions'}" (click)="onSwitcherChange('exceptions')">Exceptions</button>
  </div>
</div>