<div class="container update-container">
  <div *ngIf="!downloadingUpdate">
      <div class="header">Update required</div>
      <div class="subheader">Press the button below to get the newest version of Kora</div>
      <div class="download-wrapper" *ngIf="!downloadingUpdate">
          <button class="button download" (click)="onUpdatePressed()">Update now</button>
      </div>
  </div>
  <div *ngIf="downloadingUpdate">
    <div class="header">Updating Kora...</div>
    <div class="subheader">Feel free to minimize Kora in the meantime. Kora will restart automatically once it's finished updating.</div>
  </div>
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
  <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
</div>
<ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
</ngx-spinner>