/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .update-container {
        text-align: center;
    }
    
    .header {
        margin-top: 150px;
        font-family: PoppinsBold;
        font-size: 34px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 21px;
    }
    
    .download-wrapper {
        margin-top: 30px;
    }
    
    .hero {
        margin-top: 55px;
        width: 160px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .update-container {
        text-align: center;
    }
    
    .header {
        margin-top: 150px;
        font-family: PoppinsBold;
        font-size: 34px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 21px;
    }
    
    .download-wrapper {
        margin-top: 30px;
    }
    
    .hero {
        margin-top: 55px;
        width: 160px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .button {
        font-size: 17px;
    }

    .update-container {
        text-align: center;
    }
    
    .header {
        margin-top: 160px;
        font-family: PoppinsBold;
        font-size: 34px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 22px;
    }
    
    .download-wrapper {
        margin-top: 30px;
    }
    
    .hero {
        margin-top: 55px;
        width: 170px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .update-container {
        text-align: center;
    }
    
    .header {
        margin-top: 200px;
        font-family: PoppinsBold;
        font-size: 38px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 23px;
    }
    
    .download-wrapper {
        margin-top: 30px;
    }
    
    .hero {
        margin-top: 55px;
        width: 180px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .update-container {
        text-align: center;
    }
    
    .header {
        margin-top: 225px;
        font-family: PoppinsBold;
        font-size: 40px;
    }
    
    .subheader {
        margin-top: 20px;
        font-family: PoppinsMedium;
        font-size: 25px;
    }
    
    .download-wrapper {
        margin-top: 30px;
    }
    
    .hero {
        margin-top: 75px;
        width: 200px;
    }
}

