/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        font-size: 27px;
    }
    .subheader {
        font-size: 19px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        font-size: 27px;
    }
    .subheader {
        font-size: 19px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        font-size: 29px;
    }
    .subheader {
        font-size: 20px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        font-size: 32px;
    }
    .subheader {
        font-size: 22px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        font-size: 35px;
    }    
    .subheader {
        font-size: 23px;
    }
}

.header {
    font-family: PoppinsMedium;
}

.header-small {
    font-family: PoppinsMedium;
    font-size: 30px;
}

.header-small-regular {
    font-family: PoppinsRegular;
    font-size: 30px;
}

.subheader {
    font-family: PoppinsRegular;
}

.answer {
    border: 3px solid #536479cf;
}

.answer:hover {
    background-color: #536479cf;
}

.answer:focus {outline:0;}

.hollow {
    background-color: #F1F8FF;
    color: #536479cf;
    border: 3px solid #536479cf;
    font-family: PoppinsSemiBold;
}

.hollow:hover {
    background-color: #F1F8FF;
    color: #536479cf;
    border: 3px solid #536479cf;
    font-family: PoppinsSemiBold;
    cursor: pointer;
}

input {
    color: #536479;
}