/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .header {
        margin-top: 75px;
        font-family: PoppinsBold;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 68%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        margin-top: 1px;
        height: 44px;
        font-size: 22px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 130px;
    }
    
    .support {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .header {
        margin-top: 75px;
        font-family: PoppinsBold;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 68%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        margin-top: 1px;
        height: 44px;
        font-size: 22px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 130px;
    }
    
    .support {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .button {
        font-size: 17px;
    }

    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        margin-top: 1px;
        height: 44px;
        font-size: 22px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 38px;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 70px;
    }
    
    .hero {
        width: 150px;
    }
    
    .support {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-top: 130px;
        font-family: PoppinsBold;
        font-size: 42px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 70px;
    }
    
    .hero {
        width: 170px;
    }
    
    .support {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
    
}

