<div class="container trial-expired-container">
  <div class="header">Subscribe to Kora</div>
  <div class="description">Continue using Kora by subscribing to one of our monthly or annual plans.</div>
  <div class="button-wrapper">
    <button class="button" (click)="onViewPlans()">View our plans</button>
  </div>
  <div class="description code-cta">After you subscribe, we'll email you a premium code that you can register below.</div>
  <div class="code-input-bar">
      <input class="code-input" [(ngModel)]="code" (keydown)="onKeydown($event)" type="text" placeholder="premium code">
      <button (click)="submitCode()" class="button">Submit</button>
      <div class="clearfix"></div>
  </div>  
  <div class="paste-instructions">Ctrl + V to paste code</div>
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
  <div class="row heroes">
    <div class="col">
        <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
    </div>
  </div>
  <div class="support">Support: korablocker@gmail.com</div>
</div>
<ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
</ngx-spinner>