/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .outer-container {
        background-color: #F1F8FF;
    }
    
    .block-container {
        margin-top: 50px;
        padding-bottom: 150px;
    }
    
    .atom {
        margin: 0 auto;
        margin-top: 50px;
        width: 150px;
        display: block;
    }
    
    .ongoing-days {
        text-align: center;
        margin-top: 40px;
    }
    
    .ongoing-schedule {
        margin-top: 40px;
    }
    
    .block-type {
        margin-top: 80px !important;
    }
    
    .continue-div {
        margin-top: 45px;
        text-align: center;
    }

    .continue-div .button{
        font-size: 17px;
    }
    
    .name {
        margin-top: 45px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .outer-container {
        background-color: #F1F8FF;
    }
    
    .block-container {
        margin-top: 50px;
        padding-bottom: 150px;
    }
    
    .atom {
        margin: 0 auto;
        margin-top: 50px;
        width: 150px;
        display: block;
    }
    
    .ongoing-days {
        text-align: center;
        margin-top: 40px;
    }
    
    .ongoing-schedule {
        margin-top: 40px;
    }
    
    .block-type {
        margin-top: 80px !important;
    }
    
    .continue-div {
        margin-top: 45px;
        text-align: center;
    }

    .continue-div .button{
        font-size: 17px;
    }
    
    .name {
        margin-top: 45px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }
    
    .outer-container {
        background-color: #F1F8FF;
    }
    
    .block-container {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 150px;
    }
    
    .atom {
        margin: 0 auto;
        margin-top: 65px;
        width: 165px;
        display: block;
    }
    
    .ongoing-days {
        text-align: center;
        margin-top: 40px;
    }
    
    .ongoing-schedule {
        margin-top: 50px;
    }
    
    .block-type {
        margin-top: 80px !important;
    }
    
    .continue-div {
        margin-top: 50px;
        text-align: center;
    }

    .continue-div .button{
        font-size: 17px;
    }
    
    .name {
        margin-top: 45px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }
    
    .block-container {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 150px;
    }
    
    .atom {
        margin: 0 auto;
        margin-top: 75px;
        width: 180px;
        display: block;
    }
    
    .ongoing-days {
        text-align: center;
        margin-top: 40px;
    }
    
    .ongoing-schedule {
        margin-top: 60px;
    }
    
    .block-type {
        margin-top: 80px !important;
    }
    
    .continue-div {
        margin-top: 60px;
        text-align: center;
    }

    .continue-div .button {
        font-size: 18px;
    }
    
    .name {
        margin-top: 45px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 20px;
    }

    .block-container {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 150px;
    }
    
    .atom {
        width: 200px;
        margin: 0 auto;
        margin-top: 85px;
        display: block;
    }
    
    .ongoing-days {
        text-align: center;
        margin-top: 40px;
    }
    
    .ongoing-schedule {
        margin-top: 70px;
    }
    
    .continue-div {
        margin-top: 80px;
        text-align: center;
    }

    .continue-div .button {
        font-size: 20px;
    }
    
    .name {
        margin-top: 45px;
    }

    .site-input-bar {
        width: 80% !important;
    }
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 5px, 0); }
}
