/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin-top: 105px;
        font-family: PoppinsBold;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin-top: 105px;
        font-family: PoppinsBold;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin-top: 115px;
        font-family: PoppinsBold;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 17px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-top: 130px;
        font-family: PoppinsBold;
        font-size: 38px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 21px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-top: 150px;
        font-family: PoppinsBold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .description {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }
}

