<div class="container trial-expired-container">
  <div class="header">Your premium code is inactive</div>
  <div class="description">There might be a payment issue with your subscription. Please contact support at korablocker@gmail.com. If we send you a new code, you'll be able to enter it by pressing the button below.</div>
  <div class="button-wrapper">
    <button class="button" (click)="onSubmitNewCode()">Submit new code</button>
  </div>
</div>