/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin: 0;
        margin-top: 160px;
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 23px;
    }

    .hero-image {
        width: 130px;
        display: block;
        margin: auto;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 25px;
        text-align: center;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin: 0;
        margin-top: 160px;
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 23px;
    }

    .hero-image {
        width: 130px;
        display: block;
        margin: auto;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 25px;
        text-align: center;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin: 0;
        margin-top: 180px;
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 25px;
    }

    .hero-image {
        width: 140px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 27px;
        text-align: center;
    }

    .button {
        font-size: 16px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin: 0;
        margin-top: 200px;
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 27px;
    }

    .hero-image {
        width: 150px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .button {
        font-size: 17px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin: 0;
        margin-top: 250px;
        text-align: center;
        font-family: PoppinsSemiBold;
        font-size: 30px;
    }

    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .button {
        font-size: 18px;
    }
}


.hero-image:focus {
    outline: 0;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}