<div class="container">
  <div class="header">You can only use Chrome while a block is active</div>
  <div class="img-wrapper delay-1">
    <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
      src="./assets/imgs/block_atom_active.png" draggable="false">
  </div>
  <div class="dashboard-button-wrapper">
      <button class="button" routerLink="/dashboard" routerLinkActive="active">Go to Dashboard</button>
  </div>
</div>
