<div class="container extension-container">
  <div class="header">Connection hiccup detected!</div>
  <div class="description">Kora experienced a loss of connection with its extension. If you didn't change your extension
    settings, reopening Chrome will take you right back to the dashboard.</div>
  <div class="description">If you changed your extension settings or removed the extension, Chrome will close every 60 seconds until the connection is restored.</div>
  <div class="description">To restore your extension settings, enter <span class="bold">chrome://extensions/</span> into
    the address bar, click on the Kora extension, and revert the changes you made.</div>
  <div class="description">To add the extension back again press the button below. Remember to check "Allow in
    Incognito" after you add the extension!</div>
  <div class="button-wrapper">
    <button class="button" (click)="onAddExtension()">Add Extension</button>
  </div>
  <div class="extension-link">https://chrome.google.com/webstore/detail/kora/pjmdcnieenpgbfbmchohjdgmecpjkjol</div>
  <div class="description support">If you're having trouble setting up the extension and require assistance, shoot us an email at <span class="bold">korablocker@gmail.com.</span></div>
  <div class="img-wrapper delay-1">
    <img class="block" src="./assets/imgs/block_atom_active.png" draggable="false" routerLink="/support-extension" routerLinkActive="active">
  </div>
</div>