/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
  
  .header {
    margin-top: 65px;
    text-align: center;
    font-family: PoppinsBold;
    font-size: 27px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  
  .bold {
    font-family: PoppinsBold;
    font-size: 18px;
  }
  
  .button-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  .button {
    font-size: 16px;
  }
  
  .extension-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .support {
    margin-top: 13px;
    text-align: center;
  }
  
  .img-wrapper {
    margin-top: 20px;
  }
  
  .block {
    width: 140px;
    display: block;
    margin: auto;
  }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
  
  .header {
    margin-top: 65px;
    text-align: center;
    font-family: PoppinsBold;
    font-size: 27px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  
  .bold {
    font-family: PoppinsBold;
    font-size: 18px;
  }
  
  .button-wrapper {
    margin-top: 20px;
    text-align: center;
  }

  .button {
    font-size: 16px;
  }
  
  .extension-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .support {
    margin-top: 13px;
    text-align: center;
  }
  
  .img-wrapper {
    margin-top: 20px;
  }
  
  .block {
    width: 140px;
    display: block;
    margin: auto;
  }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 900px;
  }
  
  .header {
    margin-top: 85px;
    text-align: center;
    font-family: PoppinsBold;
    font-size: 27px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  
  .bold {
    font-family: PoppinsBold;
    font-size: 18px;
  }
  
  .button-wrapper {
    margin-top: 28px;
    text-align: center;
  }

  .button {
    font-size: 17px;
  }
  
  .extension-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .support {
    margin-top: 13px;
    text-align: center;
  }
  
  .img-wrapper {
    margin-top: 25px;
  }
  
  .block {
    width: 150px;
    display: block;
    margin: auto;
  }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
  .header {
    margin-top: 120px;
    text-align: center;
    font-family: PoppinsBold;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 16px;
    font-size: 18px;
    font-family: PoppinsMedium;
  }
  
  .bold {
    font-family: PoppinsBold;
    font-size: 20px;
  }
  
  .button-wrapper {
    margin-top: 28px;
    text-align: center;
  }

  .button {
    font-size: 18px;
  }
  
  .extension-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .support {
    margin-top: 13px;
    text-align: center;
  }
  
  .img-wrapper {
    margin-top: 25px;
  }
  
  .block {
    width: 165px;
    display: block;
    margin: auto;
  }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
  .header {
    margin-top: 150px;
    text-align: center;
    font-family: PoppinsBold;
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: PoppinsMedium;
  }
  
  .bold {
    font-family: PoppinsBold;
    font-size: 22px;
  }
  
  .button-wrapper {
    margin-top: 40px;
    text-align: center;
  }

  .button {
    font-size: 18px;
  }
  
  .extension-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .support {
    margin-top: 13px;
    text-align: center;
  }
  
  .img-wrapper {
    margin-top: 50px;
  }
  
  .block {
    width: 175px;
    display: block;
    margin: auto;
  }
}

.block:focus {
  outline: 0;
}

.delay-1 {
  animation: hover 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes hover {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 3px, 0); }
}

