<div class="site-input-bar">
    <input class="site-input" [(ngModel)]="site" (keydown)="onKeydown($event)" type="text" placeholder="website url">
    <button (click)="addSite()" class="button">Add</button>
    <div class="clearfix"></div>
</div>
