/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .site-input-bar {
        width: 61%;
        margin: 0 auto;
    }   
    
    .site-input {
        float: left;
        width: 76%;
        margin-top: 1px;
        margin-left: 8px;  
        height: 40px;
        font-size: 21px;
        padding: 5px 15px;
        color: #536479;
    }

    .button {
        font-size: 17px;
        margin-left: 5px;
        margin-right: 0px;
        padding: 8px 14px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .site-input-bar {
        width: 44%;
        margin: 0 auto;
    }   
    
    .site-input {
        float: left;
        width: 76%;
        margin-top: 1px;
        margin-left: 8px;  
        height: 40px;
        font-size: 21px;
        padding: 5px 15px;
        color: #536479;
    }

    .button {
        font-size: 17px;
        margin-left: 5px;
        margin-right: 0px;
        padding: 8px 15px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .site-input-bar {
        width: 40%;
        margin: 0 auto;
    }   
    
    .site-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 43px;
        font-size: 23px;
        padding: 5px 15px;
        color: #536479;
    }

    .button {
        font-size: 17px;
        margin-left: 5px;
        padding: 9px 15px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .site-input-bar {
        width: 43%;
        margin: 0 auto;
    }   
    
    .site-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 47px;
        font-size: 24px;
        padding: 5px 15px;
        color: #536479;
    }

    .button {
        font-size: 18px;
        margin-left: 6px;
        padding: 10px 18px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .site-input-bar {
        width: 46%;
        margin: 0 auto;
    }   
    
    .site-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }

    .button {
        font-size: 20px;
        margin-left: 8px;
        padding: 10px 18px;
    }
}

.site-input-bar button {
    float: left;
}

