<button class="button back" (click)="onBackPressed()">< Back </button>
<div class="outer-container">
    <div class="container hero-page-container">
        <div class="img-wrapper delay-1" [ngClass]="{'hider': hero.status !== 'active'}">
            <img class="atom" src="./assets/imgs/block_atom_active.png" *ngIf="hero.heroType === 'blocker'" draggable="false">
            <img class="atom" src="./assets/imgs/laser_atom_active.png" *ngIf="hero.heroType === 'laser'" draggable="false">
            <img class="atom" src="./assets/imgs/blackout_atom_active.png" *ngIf="hero.heroType === 'blackout'" draggable="false">
        </div>
        <div class="spacing" *ngIf="hero.status === 'scheduled'"></div>
        <div class="img-wrapper finished pulsing" [ngClass]="{'hider': hero.status !== 'scheduled'}">
            <img class="atom" src="./assets/imgs/block_atom_scheduled_padless.png" *ngIf="hero.heroType === 'blocker'" draggable="false">
            <img class="atom" src="./assets/imgs/laser_atom_scheduled_padless.png" *ngIf="hero.heroType === 'laser'" draggable="false">
            <img class="atom" src="./assets/imgs/blackout_atom_scheduled_padless.png" *ngIf="hero.heroType === 'blackout'" draggable="false">
        </div>
        <div class="img-wrapper finished pulsing" [ngClass]="{'hider': hero.status !== 'resting'}">
            <img class="atom" src="./assets/imgs/block_atom_sleeping.gif" *ngIf="hero.heroType === 'blocker'" draggable="false">
            <img class="atom" src="./assets/imgs/laser_atom_sleeping.gif" *ngIf="hero.heroType === 'laser'" draggable="false">
            <img class="atom" src="./assets/imgs/blackout_atom_sleeping.gif" *ngIf="hero.heroType === 'blackout'" draggable="false">
        </div>
        <div class="sites-container" *ngIf="hero.heroType === 'blocker'" [ngClass]="{'sites-correction': editing}">
            <app-blocker-sites [blockedSites]="blockedSites" [exceptions]="exceptions" [editable]="editing" [sitesLocked]="sitesLocked" [displayMode]="true"></app-blocker-sites>
        </div>
        <div class="laser-sites-container" *ngIf="hero.heroType === 'laser'">
            <app-laser-sites [exceptions]="exceptions" [editing]="editing"
                [exceptionsLocked]="hero.status === 'active'"></app-laser-sites>
        </div>
        <div class="blackout-spacing" *ngIf="hero.heroType === 'blackout'"></div>
        <div class="time-remaining-container" *ngIf="(hero.status === 'active') && !editing">
            <div class="time-remaining-label">Time remaining</div>
            <div class="time-remaining">
                <span class="days" *ngIf="hero.timeRemaining.days > 0">
                    {{hero.timeRemaining.days}}<span class="time-unit">D</span>
                </span>
                <span class="hours" *ngIf="((hero.timeRemaining.days > 0) || (hero.timeRemaining.hours > 0))">
                    {{hero.timeRemaining.hours}}<span class="time-unit">H</span>
                </span>
                <span class="minutes" *ngIf="hero.timeRemaining.timeRemainingInMinutes > 0">
                    {{hero.timeRemaining.minutes}}<span class="time-unit">M</span>
                </span>
            </div>
        </div>
        <div class="page-slider-container" *ngIf="hero.blockType === 'one-time' && hero.status === 'resting' && !editing">
            <app-slider class="slider" [sliderConfig]="sliderConfig" (sliderChanged)="onSliderChanged($event)"></app-slider>
            <button class="button one-time-start" (click)="onStartHero()">Start</button>
        </div>
        <div class="name-container-display" *ngIf="!editing">
            <div class="name-label">Block name</div>
            <app-name [name]="name" [editable]="false" (nameChanged)="onNameChanged($event)
            "></app-name>
        </div>
        <div class="schedule-container" *ngIf="hero.blockType === 'ongoing'">
            <div class="schedule-label">Schedule</div>
            <div class="days-wrapper" *ngIf="hero.blockType === 'ongoing' && editing">
                <app-days [days]="days" [editing]="true"
                    [scheduledDays]="scheduledDays" (daysChanged)="onDaysChanged($event)"></app-days>
            </div>
            <div class="schedule-wrapper" *ngIf="scheduledDays.length > 0">
                <app-ongoing-schedule [scheduledDays]="scheduledDays" [editing]="editing"
                    [lockCurrentScheduledDay]="hero.status === 'active'"
                    (scheduleStatusUpdated)="onScheduleStatusUpdated($event)"></app-ongoing-schedule>
            </div>
        </div>
        <div class="schedule-viewing-spacing" *ngIf="!editing"></div>
        <div class="name-container-edit" *ngIf="editing">
            <div class="name-label">Block name</div>
            <app-name [name]="name" [editable]="true" (nameChanged)="onNameChanged($event)
            "></app-name>
        </div>
    </div>
    <div class="modal-overlay"></div>
    <div class="delete-modal">
        <div class="delete-modal-header">
            <div class="delete-modal-header-text">Confirm delete</div>
            <i class="material-icons delete-modal-close" (click)="hideDeleteModal()">close</i>
        </div>
        <div class="delete-modal-body">
            <div class="delete-modal-body-text">Are you sure you want to delete this block?</div>
            <div class="modal-buttons">
                <div class="button modal-cancel" (click)="hideDeleteModal()">Cancel</div>
                <div class="button modal-delete" (click)="onDeleteConfirmed()">Delete</div>
            </div>
        </div>
    </div>
    <div class="hero-page-footer">
        <button class="button edit" *ngIf="!editing" (click)="onEditPressed()">Edit block</button>
        <button class="button cancel" *ngIf="editing" (click)="onCancelPressed()">Cancel</button>
        <button class="button save" *ngIf="displaySave" (click)="onSavePressed()">Save block</button>
        <i class="material-icons delete" *ngIf="showDeleteButton()" (click)="onDeleteRequest()">delete_forever</i>
    </div>
</div>
