/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .img-wrapper {
        width: 50%;
        margin: 0 auto;
    }

    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 18px;
    }
    
    .hero-page-container {
        margin-top: 25px;
    }
    
    .atom {
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    :host ::ng-deep app-blocker-sites app-blocked-sites-exceptions app-blocked-sites-exceptions-switcher .block-exception-switcher {
        margin-top: 45px;
    }
    
    .sites-correction {
        padding-top: 24px;
    }
    
    .name-container-display {
        margin-top: 0px;
        padding-bottom: 28px;
    }
    
    .name-label {
        font-family: PoppinsMedium;
        font-size: 30px;
        text-align: center;
    }
    
    .name-container-edit {
        margin-top: 12px;
        margin-bottom: 200px;
    }

    .name-container-edit .name-label {
        margin-bottom: 8px;
    }

    .laser-sites-container {
        margin-bottom: 12px;
    }

    :host ::ng-deep app-laser-sites .header {
        margin-top: 45px !important;
    }

    .schedule-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }

    .blackout-spacing {
        height: 50px;
    }
    
    .time-remaining-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .time-remaining-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }
    
    .time-remaining {
        font-size: 28px;
        font-family: PoppinsRegular;
        color: #f96969;
    }
    
    .time-remaining .time-unit {
        font-size: 23px;
        font-family: PoppinsRegular;
    }
    
    .page-slider-container {
        text-align: center;
        padding-bottom: 40px;
    }

    :host ::ng-deep app-slider .slider-container {
        margin-top: 8px !important;
    }

    :host ::ng-deep app-slider .duration {
        margin-top: 21px !important;
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    :host ::ng-deep .sites-container app-blocker-sites app-blocker-add-sites .sites {
        margin-top: 22px !important;
    }

    .one-time-start {
        margin-top: 25px;
        background: lightseagreen;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .start-label {
        width: 148px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .end-label {
        width: 148px !important;
        padding-left: 8px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .duration-label {
        width: 148px !important;
        padding-left: 16px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .start-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .end-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .duration-label {
        width: 140px !important;
        padding-left: 29px !important;
    }
    
    .schedule-container {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .schedule-wrapper {
        margin-top: 10px;
    }

    .schedule-viewing-spacing {
        height: 125px;
    }

    .days-wrapper {
        padding-bottom: 10px;
    }
    
    .hero-page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        /* background-color: #cad3dd; */
        background-color: #cad3ddc7;
        text-align: center;
    }
    
    .hero-page-footer button {
        margin-top: 13px;
    }
    
    .delete {
        color: #b14242;
        font-size: 50px;
        position: absolute;
        right: 0;
        margin-top: 11px;
        margin-right: 30px;
    }
    
    .spacing {
        margin-top: 36px;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
        z-index: 1000;
        display: none;
    }
    
    .delete-modal {
        position: absolute;
        display: none;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        border-radius: 15px;
        border-right: 2px solid #536479cf;
        border-left: 2px solid #536479cf;
        border-bottom: 2px solid #536479cf;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2000;
    }
    
    .delete-modal-header {
        background-color: #536479cf;
        padding-top: 15px;
        padding-bottom: 12px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
    
    .delete-modal-header-text {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        color: white;
        /* background-color: #67809f; */
    }
    
    .delete-modal-close {
        position: absolute;
        color: white;
        top: 14px;
        left: 450px;
        font-size: 31px;
    }
    
    .delete-modal-close:hover {
        color: #e4e3e3;
        cursor: pointer;
    }
    
    .delete-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .delete-modal-body-text {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .modal-buttons {
        margin-bottom: 15px;
    }
    
    .modal-buttons .button {
        display: inline-block;
        font-size: 19px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .button {
        font-size: 17px;
    }

    .img-wrapper {
        width: 50%;
        margin: 0 auto;
    }

    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 18px;
    }
    
    .hero-page-container {
        margin-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .atom {
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    :host ::ng-deep app-blocker-sites app-blocked-sites-exceptions app-blocked-sites-exceptions-switcher .block-exception-switcher {
        margin-top: 45px;
    }
    
    .sites-correction {
        padding-top: 24px;
    }
    
    .name-container-display {
        margin-top: 0px;
        padding-bottom: 28px;
    }
    
    .name-label {
        font-family: PoppinsMedium;
        font-size: 30px;
        text-align: center;
    }
    
    .name-container-edit {
        margin-top: 12px;
        margin-bottom: 200px;
    }

    .name-container-edit .name-label {
        margin-bottom: 8px;
    }

    .laser-sites-container {
        margin-bottom: 12px;
    }

    :host ::ng-deep app-laser-sites .header {
        margin-top: 45px !important;
    }

    .schedule-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }

    .blackout-spacing {
        height: 50px;
    }
    
    .time-remaining-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .time-remaining-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }
    
    .time-remaining {
        font-size: 28px;
        font-family: PoppinsRegular;
        color: #f96969;
    }
    
    .time-remaining .time-unit {
        font-size: 23px;
        font-family: PoppinsRegular;
    }
    
    .page-slider-container {
        text-align: center;
        padding-bottom: 40px;
    }

    :host ::ng-deep app-slider .slider-container {
        margin-top: 8px !important;
    }

    :host ::ng-deep app-slider .duration {
        margin-top: 21px !important;
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    :host ::ng-deep .sites-container app-blocker-sites app-blocker-add-sites .sites {
        margin-top: 22px !important;
    }

    .one-time-start {
        margin-top: 25px;
        background: lightseagreen;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .start-label {
        width: 148px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .end-label {
        width: 148px !important;
        padding-left: 8px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .duration-label {
        width: 148px !important;
        padding-left: 16px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .start-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .end-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .duration-label {
        width: 140px !important;
        padding-left: 29px !important;
    }
    
    .schedule-container {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .schedule-wrapper {
        margin-top: 10px;
    }

    .schedule-viewing-spacing {
        height: 125px;
    }

    .days-wrapper {
        padding-bottom: 10px;
    }
    
    .hero-page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        /* background-color: #cad3dd; */
        background-color: #cad3ddc7;
        text-align: center;
    }
    
    .hero-page-footer button {
        margin-top: 13px;
    }
    
    .delete {
        color: #b14242;
        font-size: 50px;
        position: absolute;
        right: 0;
        margin-top: 11px;
        margin-right: 30px;
    }
    
    .spacing {
        margin-top: 36px;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
        z-index: 1000;
        display: none;
    }
    
    .delete-modal {
        position: absolute;
        display: none;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        border-radius: 15px;
        border-right: 2px solid #536479cf;
        border-left: 2px solid #536479cf;
        border-bottom: 2px solid #536479cf;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2000;
    }
    
    .delete-modal-header {
        background-color: #536479cf;
        padding-top: 15px;
        padding-bottom: 12px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
    
    .delete-modal-header-text {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        color: white;
        /* background-color: #67809f; */
    }
    
    .delete-modal-close {
        position: absolute;
        color: white;
        top: 14px;
        left: 450px;
        font-size: 31px;
    }
    
    .delete-modal-close:hover {
        color: #e4e3e3;
        cursor: pointer;
    }
    
    .delete-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .delete-modal-body-text {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .modal-buttons {
        margin-bottom: 15px;
    }
    
    .modal-buttons .button {
        display: inline-block;
        font-size: 19px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .button {
        font-size: 17px;
    }

    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 18px;
    }
    
    .hero-page-container {
        margin-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .atom {
        width: 165px;
        display: block;
        margin: 0 auto;
    }

    :host ::ng-deep app-blocker-sites app-blocked-sites-exceptions app-blocked-sites-exceptions-switcher .block-exception-switcher {
        margin-top: 45px;
    }
    
    .sites-correction {
        padding-top: 24px;
    }
    
    .name-container-display {
        margin-top: 0px;
        padding-bottom: 28px;
    }
    
    .name-label {
        font-family: PoppinsMedium;
        font-size: 30px;
        text-align: center;
    }
    
    .name-container-edit {
        margin-top: 12px;
        margin-bottom: 200px;
    }

    .name-container-edit .name-label {
        margin-bottom: 8px;
    }

    .laser-sites-container {
        margin-bottom: 12px;
    }

    :host ::ng-deep app-laser-sites .header {
        margin-top: 45px !important;
    }

    .schedule-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }

    .blackout-spacing {
        height: 50px;
    }
    
    .time-remaining-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .time-remaining-label {
        font-size: 30px;
        font-family: PoppinsMedium;
    }
    
    .time-remaining {
        font-size: 28px;
        font-family: PoppinsRegular;
        color: #f96969;
    }
    
    .time-remaining .time-unit {
        font-size: 23px;
        font-family: PoppinsRegular;
    }
    
    .page-slider-container {
        text-align: center;
        padding-bottom: 40px;
    }

    :host ::ng-deep app-slider .slider-container {
        margin-top: 8px !important;
    }

    :host ::ng-deep app-slider .duration {
        margin-top: 21px !important;
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    :host ::ng-deep .sites-container app-blocker-sites app-blocker-add-sites .sites {
        margin-top: 22px !important;
    }

    .one-time-start {
        margin-top: 25px;
        background: lightseagreen;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .start-label {
        width: 148px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .end-label {
        width: 148px !important;
        padding-left: 8px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .duration-label {
        width: 148px !important;
        padding-left: 16px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .start-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .end-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .duration-label {
        width: 140px !important;
        padding-left: 29px !important;
    }
    
    .schedule-container {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .schedule-wrapper {
        margin-top: 10px;
    }

    .schedule-viewing-spacing {
        height: 125px;
    }

    .days-wrapper {
        padding-bottom: 10px;
    }
    
    .hero-page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        /* background-color: #cad3dd; */
        background-color: #cad3ddc7;
        text-align: center;
    }
    
    .hero-page-footer button {
        margin-top: 13px;
    }
    
    .delete {
        color: #b14242;
        font-size: 50px;
        position: absolute;
        right: 0;
        margin-top: 11px;
        margin-right: 30px;
    }
    
    .spacing {
        margin-top: 36px;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
        z-index: 1000;
        display: none;
    }
    
    .delete-modal {
        position: absolute;
        display: none;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        border-radius: 15px;
        border-right: 2px solid #536479cf;
        border-left: 2px solid #536479cf;
        border-bottom: 2px solid #536479cf;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2000;
    }
    
    .delete-modal-header {
        background-color: #536479cf;
        padding-top: 15px;
        padding-bottom: 12px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
    
    .delete-modal-header-text {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        color: white;
        /* background-color: #67809f; */
    }
    
    .delete-modal-close {
        position: absolute;
        color: white;
        top: 14px;
        left: 450px;
        font-size: 31px;
    }
    
    .delete-modal-close:hover {
        color: #e4e3e3;
        cursor: pointer;
    }
    
    .delete-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .delete-modal-body-text {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .modal-buttons {
        margin-bottom: 15px;
    }
    
    .modal-buttons .button {
        display: inline-block;
        font-size: 19px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .button {
        font-size: 17px;
    }

    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }
    
    .hero-page-container {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .atom {
        width: 180px;
        display: block;
        margin: 0 auto;
    }

    :host ::ng-deep app-blocker-sites app-blocked-sites-exceptions app-blocked-sites-exceptions-switcher .block-exception-switcher {
        margin-top: 45px;
    }
    
    .sites-correction {
        padding-top: 24px;
    }
    
    .name-container-display {
        margin-top: 0px;
        padding-bottom: 28px;
    }
    
    .name-label {
        font-family: PoppinsMedium;
        font-size: 32px;
        text-align: center;
    }
    
    .name-container-edit {
        margin-top: 12px;
        margin-bottom: 200px;
    }

    .name-container-edit .name-label {
        margin-bottom: 8px;
    }

    .laser-sites-container {
        margin-bottom: 12px;
    }

    :host ::ng-deep app-laser-sites .header {
        margin-top: 45px !important;
    }

    .schedule-label {
        font-size: 32px;
        font-family: PoppinsMedium;
    }

    .blackout-spacing {
        height: 50px;
    }
    
    .time-remaining-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .time-remaining-label {
        font-size: 32px;
        font-family: PoppinsMedium;
    }
    
    .time-remaining {
        font-size: 28px;
        font-family: PoppinsRegular;
        color: #f96969;
    }
    
    .time-remaining .time-unit {
        font-size: 23px;
        font-family: PoppinsRegular;
    }
    
    .page-slider-container {
        text-align: center;
        padding-bottom: 40px;
    }

    :host ::ng-deep app-slider .slider-container {
        margin-top: 8px !important;
    }

    :host ::ng-deep app-slider .duration {
        margin-top: 21px !important;
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    :host ::ng-deep .sites-container app-blocker-sites app-blocker-add-sites .sites {
        margin-top: 22px !important;
    }

    .one-time-start {
        margin-top: 25px;
        background: lightseagreen;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .start-label {
        width: 148px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .end-label {
        width: 148px !important;
        padding-left: 8px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .duration-label {
        width: 148px !important;
        padding-left: 16px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .start-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .end-label {
        width: 140px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .duration-label {
        width: 140px !important;
        padding-left: 29px !important;
    }
    
    .schedule-container {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .schedule-wrapper {
        margin-top: 10px;
    }

    .days-wrapper {
        padding-bottom: 12px;
    }
    
    .hero-page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        /* background-color: #cad3dd; */
        background-color: #cad3ddc7;
        text-align: center;
    }
    
    .hero-page-footer button {
        margin-top: 13px;
    }
    
    .delete {
        color: #b14242;
        font-size: 50px;
        position: absolute;
        right: 0;
        margin-top: 11px;
        margin-right: 30px;
    }
    
    .spacing {
        margin-top: 36px;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
        z-index: 1000;
        display: none;
    }
    
    .delete-modal {
        position: absolute;
        display: none;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        border-radius: 15px;
        border-right: 2px solid #536479cf;
        border-left: 2px solid #536479cf;
        border-bottom: 2px solid #536479cf;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2000;
    }
    
    .delete-modal-header {
        background-color: #536479cf;
        padding-top: 15px;
        padding-bottom: 12px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
    
    .delete-modal-header-text {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        color: white;
        /* background-color: #67809f; */
    }
    
    .delete-modal-close {
        position: absolute;
        color: white;
        top: 14px;
        left: 450px;
        font-size: 31px;
    }
    
    .delete-modal-close:hover {
        color: #e4e3e3;
        cursor: pointer;
    }
    
    .delete-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .delete-modal-body-text {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .modal-buttons {
        margin-bottom: 15px;
    }
    
    .modal-buttons .button {
        display: inline-block;
        font-size: 19px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .button {
        font-size: 17px;
    }

    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 20px;
    }
    
    .hero-page-container {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .atom {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    :host ::ng-deep app-blocker-sites app-blocked-sites-exceptions app-blocked-sites-exceptions-switcher .block-exception-switcher {
        margin-top: 45px;
    }
    
    .sites-correction {
        padding-top: 24px;
    }
    
    .name-container-display {
        margin-top: 0px;
        padding-bottom: 28px;
    }
    
    .name-label {
        font-family: PoppinsMedium;
        font-size: 35px;
        text-align: center;
    }
    
    .name-container-edit {
        margin-top: 12px;
        margin-bottom: 200px;
    }

    .name-container-edit .name-label {
        margin-bottom: 8px;
    }

    .laser-sites-container {
        margin-bottom: 12px;
    }

    :host ::ng-deep app-laser-sites .header {
        margin-top: 45px !important;
    }

    .schedule-label {
        font-size: 35px;
        font-family: PoppinsMedium;
    }

    .blackout-spacing {
        height: 50px;
    }
    
    .time-remaining-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .time-remaining-label {
        font-size: 35px;
        font-family: PoppinsMedium;
    }
    
    .time-remaining {
        font-size: 28px;
        font-family: PoppinsRegular;
        color: #f96969;
    }
    
    .time-remaining .time-unit {
        font-size: 23px;
        font-family: PoppinsRegular;
    }
    
    .page-slider-container {
        text-align: center;
        padding-bottom: 40px;
    }

    :host ::ng-deep app-slider .slider-container {
        margin-top: 8px !important;
    }

    :host ::ng-deep app-slider .duration {
        margin-top: 21px !important;
        font-size: 26px;
        padding-bottom: 0px;
    }
    
    :host ::ng-deep .sites-container app-blocker-sites app-blocker-add-sites .sites {
        margin-top: 22px !important;
    }

    .one-time-start {
        font-size: 20px;
        margin-top: 25px;
        background: lightseagreen;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .viewing .end-label {
        padding-left: 20px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .start-label {
        padding-left: 26px !important;
    }

    :host ::ng-deep .schedule-wrapper app-ongoing-schedule .editing .end-label {
        padding-left: 40px !important;
    }
    
    .schedule-container {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .schedule-wrapper {
        margin-top: 10px;
    }

    .days-wrapper {
        padding-bottom: 12px;
    }
    
    .hero-page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        /* background-color: #cad3dd; */
        background-color: #cad3ddc7;
        text-align: center;
    }
    
    .hero-page-footer button {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .delete {
        color: #b14242;
        font-size: 55px;
        position: absolute;
        right: 0;
        margin-top: 9px;
        margin-right: 40px;
    }
    
    .spacing {
        margin-top: 36px;
    }
    
    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition-property: background;
        transition-duration: 0.4s;
        transition-timing-function: initial;
        transition-delay: initial;
        z-index: 1000;
        display: none;
    }
    
    .delete-modal {
        position: absolute;
        display: none;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        border-radius: 15px;
        border-right: 2px solid #536479cf;
        border-left: 2px solid #536479cf;
        border-bottom: 2px solid #536479cf;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2000;
    }
    
    .delete-modal-header {
        background-color: #536479cf;
        padding-top: 15px;
        padding-bottom: 12px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }
    
    .delete-modal-header-text {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        color: white;
        /* background-color: #67809f; */
    }
    
    .delete-modal-close {
        position: absolute;
        color: white;
        top: 14px;
        left: 450px;
        font-size: 31px;
    }
    
    .delete-modal-close:hover {
        color: #e4e3e3;
        cursor: pointer;
    }
    
    .delete-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .delete-modal-body-text {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .modal-buttons {
        margin-bottom: 15px;
    }
    
    .modal-buttons .button {
        display: inline-block;
        font-size: 19px;
    }
}

.modal-cancel {
    background: #5364798c;
    cursor: default;
}

.modal-cancel:hover {
    background: #536479b8;
    cursor: default;
}

.modal-delete {
    background: #b14242;  
    cursor: default;  
}

.modal-delete:hover {
    background: #da5555;
    cursor: default;
}

.save {
    background: #2abd58;
}

.save:hover {
    background: #27ad51;
}

.cancel {
    background: #5364798c;
}

.cancel:hover {
    background: #536479b8;
}

.delete:hover {
    color: #da5555;
    cursor: pointer;
}

.finished {
    opacity: 0.7;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.pulsing {
    animation: pulse 4.35s infinite ease-in-out;
}

.rotation {
    animation: rotation 2s infinite ease-in-out alternate;
}

.outer-container {
    background-color: #F1F8FF;
}

.one-time-start:hover {
    background: #1e9e97;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 5px, 0); }
}

@keyframes rotation {
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% { transform: scale(0.96); opacity: 0.5; }
    50% { transform: scale(1); opacity: 0.7; }
    100% { transform: scale(0.96); opacity: 0.5; }
}

/* 
.back {
    position: absolute;
    margin-top: 50px;
    margin-left: 75px;
    font-size: 20px;
}

.hero-page-container {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
}

.atom {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.sites-correction {
    padding-top: 24px;
}

.name-container-display {
    margin-bottom: 57px;
    margin-top: 40px;
}

.name-label {
    font-family: PoppinsMedium;
    font-size: 35px;
    text-align: center;
}

.name-container-edit {
    margin-top: 60px;
    margin-bottom: 80px;
}

.time-remaining-container {
    text-align: center;
    margin-top: 40px;
}

.time-remaining-label, .schedule-label {
    font-size: 35px;
    font-family: PoppinsMedium;
}

.time-remaining {
    font-size: 34px;
    font-family: PoppinsRegular;
    color: #f96969;
}

.time-remaining .time-unit {
    font-size: 28px;
    font-family: PoppinsRegular;
}

.page-slider-container {
    text-align: center;
    padding-bottom: 20px;
}
.one-time-start {
    margin-top: 25px;
    background: lightseagreen;
}

.schedule-container {
    margin-top: 28px;
    text-align: center;
}

.schedule-wrapper {
    margin-top: 25px;
}

.hero-page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 69px;
    background-color: #cad3ddc7;
    text-align: center;
}

.hero-page-footer button {
    margin-top: 10px;
}

.delete {
    color: #b14242;
    font-size: 57px;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 40px;
}

.spacing {
    margin-top: 36px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: initial;
    transition-delay: initial;
    z-index: 1000;
    display: none;
}

.delete-modal {
    position: absolute;
    display: none;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    border-radius: 15px;
    border-right: 2px solid #536479cf;
    border-left: 2px solid #536479cf;
    border-bottom: 2px solid #536479cf;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
}

.delete-modal-header {
    background-color: #536479cf;
    padding-top: 15px;
    padding-bottom: 12px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.delete-modal-header-text {
    text-align: center;
    font-size: 23px;
    font-family: PoppinsMedium;
    color: white;
}

.delete-modal-close {
    position: absolute;
    color: white;
    top: 14px;
    left: 450px;
    font-size: 31px;
}

.delete-modal-close:hover {
    color: #e4e3e3;
    cursor: pointer;
}

.delete-modal-body {
    padding-left: 15px;
    padding-right: 15px;
}

.delete-modal-body-text {
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-buttons {
    margin-bottom: 15px;
}

.modal-buttons .button {
    display: inline-block;
    font-size: 19px;
} */