<div class="ongoing-schedule-container" [ngClass]="{'editing': editing, 'viewing': !editing}">
  <div class="header">Schedule</div>
  <div class="labels">
    <div class="day-label">
    </div>
    <div class="start-label" [ngClass]="{'viewing-label': !editing}">
      Start
    </div>
    <div class="end-label" [ngClass]="{'viewing-label': !editing}">
      End
    </div>
    <div class="duration-label" [ngClass]="{'viewing-label': !editing}">
      Length
    </div>
  </div>
  <div class="day-row-wrapper" *ngFor="let day of scheduledDays">
    <div class="day-row">
      <div class="day">{{daysOfWeek[day.dayOfWeek]}}</div>
      <div *ngIf="editing && !day.editLocked">
        <div class="start-time-wrapper pointer">
          <div class="start-time" (click)="openTimePicker('start', day)">
            {{day.startTimeDisplay}}
            <i class="material-icons clock-icon pointer">access_time</i>
          </div>
        </div>
        <div class="end-time-wrapper pointer">
          <div class="end-time" (click)="openTimePicker('end', day)">
            {{day.endTimeDisplay}}
            <i class="material-icons clock-icon pointer">access_time</i>
          </div>
        </div>
      </div>
      <div *ngIf="!editing || day.editLocked">
        <div class="start-time-wrapper">
          <div class="start-time">
            {{day.startTimeDisplay}}
          </div>
        </div>
        <div class="end-time-wrapper">
          <div class="end-time">
            {{day.endTimeDisplay}}
          </div>
        </div>
      </div>
      <div class="duration">
        <div *ngIf="day.validTimes">
          <span *ngIf="day.lengthHours > 0">
            {{day.lengthHours}}<span class="time-unit">H</span>
          </span>
          <span *ngIf="day.lengthHours != 24">
            {{day.lengthMinutes}}<span class="time-unit">M</span>
          </span>
        </div>
        <div *ngIf="!day.validTimes" class="error">N/A</div>
      </div>
    </div>
  </div>

</div>