/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .ongoing-schedule-container {
        width: 700px;
        margin: 0 auto;
    }
    
    .ongoing-schedule-container .header {
        text-align: center;
        margin-bottom: 40px;
        display: none;
    }
    
    .labels {
        text-align: center;
        font-size: 15px;
        color: #2125299e;
    }
    
    .labels div {
        display: inline-block;
    }
    
    .day-label {
        width: 240px;
    }
    
    .start-label, .end-label, .duration-label {
        width: 136px;
    }
    
    .start-label {
        padding-left: 5px;
    }

    .end-label {
        padding-left: 24px;
    }
    
    .duration-label {
        padding-left: 38px;
    }
    
    .viewing-label {
        padding-left: 0px;
    }
    
    .labels div {
        font-family: PoppinsMedium;
        text-transform: uppercase;
    }
    
    .day-row-wrapper {
        margin-bottom: 10px;
    }
    
    .day-row {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        background-color: #53647917;
    }
    
    .day-row div {
        display: inline-block;
    }
    
    .day {
        text-align: left;
        width: 240px;
        font-family: PoppinsMedium;
        padding-left: 40px;
    }
    
    .start-time-wrapper, .end-time-wrapper, .duration {
        width: 155px;
        font-size: 23px;
    }

    .end-time-wrapper {
        padding-left: 30px;
    }

    .end-time {
        text-align: left;
    }

    .duration {
        width: 150px;
    }
    
    .start-time, .end-time {
        width: 130px;
    }
    
    .start-time, .end-time, .duration {
        font-family: VarelaRoundRegular;
    }
    
    .duration .time-unit {
        font-size: 20px;
        font-family: VarelaRoundRegular;
    }
    
    
    .clock-icon {
        color: #f96969;
        font-size: 28px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .error {
        color: #f96969;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .ongoing-schedule-container {
        width: 700px;
        margin: 0 auto;
    }
    
    .ongoing-schedule-container .header {
        text-align: center;
        margin-bottom: 40px;
        display: none;
    }
    
    .labels {
        text-align: center;
        font-size: 15px;
        color: #2125299e;
    }
    
    .labels div {
        display: inline-block;
    }
    
    .day-label {
        width: 240px;
    }
    
    .start-label, .end-label, .duration-label {
        width: 136px;
    }
    
    .start-label {
        padding-left: 5px;
    }

    .end-label {
        padding-left: 24px;
    }
    
    .duration-label {
        padding-left: 38px;
    }
    
    .viewing-label {
        padding-left: 0px;
    }
    
    .labels div {
        font-family: PoppinsMedium;
        text-transform: uppercase;
    }
    
    .day-row-wrapper {
        margin-bottom: 10px;
    }
    
    .day-row {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        background-color: #53647917;
    }
    
    .day-row div {
        display: inline-block;
    }
    
    .day {
        text-align: left;
        width: 240px;
        font-family: PoppinsMedium;
        padding-left: 40px;
    }
    
    .start-time-wrapper, .end-time-wrapper, .duration {
        width: 155px;
        font-size: 23px;
    }

    .end-time-wrapper {
        padding-left: 30px;
    }

    .end-time {
        text-align: left;
    }

    .duration {
        width: 150px;
    }
    
    .start-time, .end-time {
        width: 130px;
    }
    
    .start-time, .end-time, .duration {
        font-family: VarelaRoundRegular;
    }
    
    .duration .time-unit {
        font-size: 20px;
        font-family: VarelaRoundRegular;
    }
    
    
    .clock-icon {
        color: #f96969;
        font-size: 28px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .error {
        color: #f96969;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .ongoing-schedule-container {
        width: 700px;
        margin: 0 auto;
    }
    
    .ongoing-schedule-container .header {
        text-align: center;
        margin-bottom: 40px;
        display: none;
    }
    
    .labels {
        text-align: center;
        font-size: 15px;
        color: #2125299e;
    }
    
    .labels div {
        display: inline-block;
    }
    
    .day-label {
        width: 240px;
    }
    
    .start-label, .end-label, .duration-label {
        width: 136px;
    }
    
    .start-label {
        padding-left: 5px;
    }

    .end-label {
        padding-left: 24px;
    }
    
    .duration-label {
        padding-left: 38px;
    }
    
    .viewing-label {
        padding-left: 0px;
    }
    
    .labels div {
        font-family: PoppinsMedium;
        text-transform: uppercase;
    }
    
    .day-row-wrapper {
        margin-bottom: 10px;
    }
    
    .day-row {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        background-color: #53647917;
    }
    
    .day-row div {
        display: inline-block;
    }
    
    .day {
        text-align: left;
        width: 240px;
        font-family: PoppinsMedium;
        padding-left: 40px;
    }
    
    .start-time-wrapper, .end-time-wrapper, .duration {
        width: 155px;
        font-size: 23px;
    }

    .end-time-wrapper {
        padding-left: 30px;
    }

    .end-time {
        text-align: left;
    }

    .duration {
        width: 150px;
    }
    
    .start-time, .end-time {
        width: 130px;
    }
    
    .start-time, .end-time, .duration {
        font-family: VarelaRoundRegular;
    }
    
    .duration .time-unit {
        font-size: 20px;
        font-family: VarelaRoundRegular;
    }
    
    
    .clock-icon {
        color: #f96969;
        font-size: 28px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .error {
        color: #f96969;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .ongoing-schedule-container {
        width: 700px;
        margin: 0 auto;
    }
    
    .ongoing-schedule-container .header {
        text-align: center;
        margin-bottom: 40px;
        display: none;
    }
    
    .labels {
        text-align: center;
        font-size: 15px;
        color: #2125299e;
    }
    
    .labels div {
        display: inline-block;
    }
    
    .day-label {
        width: 240px;
    }
    
    .start-label, .end-label, .duration-label {
        width: 136px;
    }
    
    .start-label {
        padding-left: 5px;
    }

    .end-label {
        padding-left: 24px;
    }
    
    .duration-label {
        padding-left: 38px;
    }
    
    .viewing-label {
        padding-left: 0px;
    }
    
    .labels div {
        font-family: PoppinsMedium;
        text-transform: uppercase;
    }
    
    .day-row-wrapper {
        margin-bottom: 10px;
    }
    
    .day-row {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        background-color: #53647917;
    }
    
    .day-row div {
        display: inline-block;
    }
    
    .day {
        text-align: left;
        width: 240px;
        font-family: PoppinsMedium;
        padding-left: 40px;
    }
    
    .start-time-wrapper, .end-time-wrapper, .duration {
        width: 155px;
        font-size: 23px;
    }

    .end-time-wrapper {
        padding-left: 30px;
    }

    .end-time {
        text-align: left;
    }

    .duration {
        width: 150px;
    }
    
    .start-time, .end-time {
        width: 130px;
    }
    
    .start-time, .end-time, .duration {
        font-family: VarelaRoundRegular;
    }
    
    .duration .time-unit {
        font-size: 20px;
        font-family: VarelaRoundRegular;
    }
    
    
    .clock-icon {
        color: #f96969;
        font-size: 28px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .error {
        color: #f96969;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .ongoing-schedule-container {
        width: 820px;
        margin: 0 auto;
    }
    
    .ongoing-schedule-container .header {
        text-align: center;
        margin-bottom: 40px;
        display: none;
    }
    
    .labels {
        text-align: center;
        font-size: 15px;
        color: #2125299e;
    }
    
    .labels div {
        display: inline-block;
    }
    
    .day-label {
        width: 335px;
    }
    
    .start-label, .end-label, .duration-label {
        width: 160px;
    }
    
    .start-label, .end-label {
        padding-left: 38px;
    }
    
    .duration-label {
        padding-left: 7px;
    }
    
    .viewing-label {
        padding-left: 0px;
    }
    
    .labels div {
        font-family: PoppinsMedium;
        text-transform: uppercase;
    }
    
    .day-row-wrapper {
        margin-bottom: 10px;
    }
    
    .day-row {
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        background-color: #53647917;
    }
    
    .day-row div {
        display: inline-block;
    }
    
    .day {
        text-align: left;
        width: 335px;
        font-family: PoppinsMedium;
        padding-left: 50px;
    }
    
    .start-time-wrapper, .end-time-wrapper, .duration {
        width: 160px;
        font-size: 22px;
    }
    
    .start-time, .end-time {
        width: 102px;
    }
    
    .start-time, .end-time, .duration {
        font-family: VarelaRoundRegular;
    }
    
    .duration .time-unit {
        font-size: 20px;
        font-family: VarelaRoundRegular;
    }
    
    
    .clock-icon {
        color: #f96969;
        font-size: 28px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .error {
        color: #f96969;
    }
}

