<div class="container introduction-container">
  <div class="header">Hi! Welcome to Kora!</div>
  <div class="img-wrapper delay-1">
    <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
      src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
  </div>
  <div class="subheader">This is a <span class="bold">Kora block</span></div>
  <div class="intro">Kora blocks help you focus, save time, and be more productive</div>
  <div class="item">
    <div class="title title-1">✓ Blocked websites can't be removed while a block is active</div>
  </div>
  <div class="item">
    <div class="title title-2">✓ Kora can't be uninstalled while a block is active</div>
  </div>
  <div class="item">
    <div class="title title-3">✓ Kora prevents bypassing active blocks using different internet browsers</div>
  </div>
  <div class="item">
    <div class="title title-4">✓ Extension settings are secured</div>
  </div>
  <div class="cta">Let's create your first block now!</div>
</div>