/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }

    .header {
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-image {
        width: 115px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .subheader {
        text-align: center;
        font-size: 17px;
        font-family: PoppinsSemiBold;
        margin-bottom: 28px;
    }

    .bold {
        font-family: PoppinsBold;
        font-size: 19px;
    }

    .intro {
        font-size: 17px;
        font-family: PoppinsBold;
        margin-bottom: 20px;
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 2.75s;
        animation-fill-mode: forwards;
    }
    
    .item {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    
    .item .title {
        font-family: PoppinsSemiBold;
        font-size: 15px;
    }

    .title-1 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 5.25s;
        animation-fill-mode: forwards;
    }

    .title-2 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 7.75s;
        animation-fill-mode: forwards;
    }

    .title-3 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 10.25s;
        animation-fill-mode: forwards;
    }

    .title-4 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 12.75s;
        animation-fill-mode: forwards;
    }

    .cta {
        margin-top: 80px;
        text-align: center;
        font-size: 22px;
        font-family: PoppinsBold;
        opacity: 0;
        animation: fadeIn 1.5s;
        animation-delay: 15.25s;
        animation-fill-mode: forwards;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 850px;
    }

    .header {
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-image {
        width: 115px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .subheader {
        text-align: center;
        font-size: 17px;
        font-family: PoppinsSemiBold;
        margin-bottom: 28px;
    }

    .bold {
        font-family: PoppinsBold;
        font-size: 19px;
    }

    .intro {
        font-size: 17px;
        font-family: PoppinsBold;
        margin-bottom: 20px;
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 2.75s;
        animation-fill-mode: forwards;
    }
    
    .item {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    
    .item .title {
        font-family: PoppinsSemiBold;
        font-size: 15px;
    }

    .title-1 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 5.25s;
        animation-fill-mode: forwards;
    }

    .title-2 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 7.75s;
        animation-fill-mode: forwards;
    }

    .title-3 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 10.25s;
        animation-fill-mode: forwards;
    }

    .title-4 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 12.75s;
        animation-fill-mode: forwards;
    }

    .cta {
        margin-top: 80px;
        text-align: center;
        font-size: 22px;
        font-family: PoppinsBold;
        opacity: 0;
        animation: fadeIn 1.5s;
        animation-delay: 15.25s;
        animation-fill-mode: forwards;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }

    .header {
        margin-top: 70px;
        font-family: PoppinsBold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-image {
        width: 130px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .subheader {
        text-align: center;
        font-size: 19px;
        font-family: PoppinsSemiBold;
        margin-bottom: 35px;
    }

    .bold {
        font-family: PoppinsBold;
        font-size: 21px;
    }

    .intro {
        font-size: 19px;
        font-family: PoppinsBold;
        margin-bottom: 20px;
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 2.75s;
        animation-fill-mode: forwards;
    }
    
    .item {
        margin-bottom: 25px;
        margin-left: 30px;
    }
    
    .item .title {
        font-family: PoppinsSemiBold;
        font-size: 17px;
    }

    .title-1 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 5.25s;
        animation-fill-mode: forwards;
    }

    .title-2 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 7.75s;
        animation-fill-mode: forwards;
    }

    .title-3 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 10.25s;
        animation-fill-mode: forwards;
    }

    .title-4 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 12.75s;
        animation-fill-mode: forwards;
    }

    .cta {
        margin-top: 80px;
        text-align: center;
        font-size: 24px;
        font-family: PoppinsBold;
        opacity: 0;
        animation: fadeIn 1.5s;
        animation-delay: 15.25s;
        animation-fill-mode: forwards;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-top: 75px;
        font-family: PoppinsBold;
        font-size: 28px;
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-image {
        width: 150px;
        display: block;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .subheader {
        text-align: center;
        font-size: 21px;
        font-family: PoppinsSemiBold;
        margin-bottom: 40px;
    }

    .bold {
        font-family: PoppinsBold;
        font-size: 23px;
    }

    .intro {
        font-size: 21px;
        font-family: PoppinsBold;
        margin-bottom: 27px;
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 2.75s;
        animation-fill-mode: forwards;
    }
    
    .item {
        margin-bottom: 35px;
        margin-left: 30px;
    }
    
    .item .title {
        font-family: PoppinsSemiBold;
        font-size: 19px;
    }

    .title-1 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 5.25s;
        animation-fill-mode: forwards;
    }

    .title-2 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 7.75s;
        animation-fill-mode: forwards;
    }

    .title-3 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 10.25s;
        animation-fill-mode: forwards;
    }

    .title-4 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 12.75s;
        animation-fill-mode: forwards;
    }

    .cta {
        margin-top: 80px;
        text-align: center;
        font-size: 25px;
        font-family: PoppinsBold;
        opacity: 0;
        animation: fadeIn 1.5s;
        animation-delay: 15.25s;
        animation-fill-mode: forwards;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-top: 100px;
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-image {
        width: 165px;
        display: block;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .subheader {
        text-align: center;
        font-size: 24px;
        font-family: PoppinsSemiBold;
        margin-bottom: 50px;
    }

    .bold {
        font-family: PoppinsBold;
        font-size: 26px;
    }

    .intro {
        font-size: 24px;
        font-family: PoppinsBold;
        margin-bottom: 27px;
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 2.75s;
        animation-fill-mode: forwards;
    }
    
    .item {
        margin-bottom: 40px;
        margin-left: 30px;
    }
    
    .item .title {
        font-family: PoppinsSemiBold;
        font-size: 22px;
    }

    .title-1 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 5.25s;
        animation-fill-mode: forwards;
    }

    .title-2 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 7.75s;
        animation-fill-mode: forwards;
    }

    .title-3 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 10.25s;
        animation-fill-mode: forwards;
    }

    .title-4 {
        opacity: 0;
        animation: fadeIn 2.5s;
        animation-delay: 12.75s;
        animation-fill-mode: forwards;
    }

    .cta {
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        font-family: PoppinsBold;
        opacity: 0;
        animation: fadeIn 1.5s;
        animation-delay: 15.25s;
        animation-fill-mode: forwards;
    }
}


.hero-image:focus {
    outline: 0;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.button-wrapper {
    text-align: center;
}