.la-ball-atom {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    color: #536479;
    margin-top: 22%;
    animation: fadein 2s;
}

.la-ball-atom > div:nth-child(1) {
    background: #48c5cc;
}

@keyframes fadein {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

