.outside {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-bottom: 300px;
}

.label-container {
    text-align: center;
    font-size: 25px;
}
