/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .days-of-the-week {
        display: inline-block;
        margin-top: 15px;
    }
    
    .days-of-the-week button {
        width: 76px;
        cursor: pointer;
        font-size: 16px;
        padding: 9px 0px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .days-of-the-week {
        display: inline-block;
        margin-top: 15px;
    }
    
    .days-of-the-week button {
        width: 76px;
        cursor: pointer;
        font-size: 16px;
        padding: 9px 0px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .days-of-the-week {
        display: inline-block;
        margin-top: 15px;
    }
    
    .days-of-the-week button {
        width: 78px;
        cursor: pointer;
        font-size: 17px;
        padding: 10px 0px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .days-of-the-week {
        display: inline-block;
        margin-top: 17px;
    }
    
    .days-of-the-week button {
        width: 80px;
        cursor: pointer;
        font-size: 19px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .days-of-the-week {
        display: inline-block;
        margin-top: 20px;
    }
    
    .days-of-the-week button {
        width: 80px;
        cursor: pointer;
    }
}

.days-container {
    text-align: center;
}
