<div class="days-container">
  <div class="days-of-the-week">
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('1') == -1}"
      (click)="onDayOfWeekClick('1')">Mon</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('2') == -1}"
      (click)="onDayOfWeekClick('2')">Tue</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('3') == -1}"
      (click)="onDayOfWeekClick('3')">Wed</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('4') == -1}"
      (click)="onDayOfWeekClick('4')">Thu</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('5') == -1}"
      (click)="onDayOfWeekClick('5')">Fri</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('6') == -1}"
      (click)="onDayOfWeekClick('6')">Sat</button>
    <button class="button answer" [ngClass]="{'hollow': days.indexOf('7') == -1}"
      (click)="onDayOfWeekClick('7')">Sun</button>
  </div>
</div>