<div class="slider-container">
  <div class="header" *ngIf="sliderConfig.sliderLabel != undefined">{{sliderConfig.sliderLabel}}</div>
  <div class="duration">{{durationDisplay}}</div>
  <div class="slider-wrapper">
    <span class="slider-endpoint" *ngIf="sliderConfig.startLabel != undefined" >{{sliderConfig.startLabel}}</span>
    <mat-slider class="slider" (input)="onSliderChange($event)" min="{{sliderConfig.min}}" max="{{sliderConfig.max}}"
      value="{{sliderConfig.value}}"></mat-slider>
    <span class="slider-endpoint" *ngIf="sliderConfig.endLabel != undefined">{{sliderConfig.endLabel}}</span>
  </div>
</div>