/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .slider-container {
        margin-top: 40px;
        text-align: center;
    }
    
    .slider-container .header {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .duration {
        margin-top: 30px;
        font-size: 23px;
    }
    
    .slider-wrapper {
        margin-top: 15px;
    }
    
    .slider {
        width: 400px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .slider-endpoint {
        font-size: 17px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .slider-container {
        margin-top: 40px;
        text-align: center;
    }
    
    .slider-container .header {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .duration {
        margin-top: 30px;
        font-size: 23px;
    }
    
    .slider-wrapper {
        margin-top: 15px;
    }
    
    .slider {
        width: 400px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .slider-endpoint {
        font-size: 17px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .slider-container {
        margin-top: 40px;
        text-align: center;
    }
    
    .slider-container .header {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .duration {
        margin-top: 32px;
        font-size: 25px;
        padding-bottom: 5px;
    }
    
    .slider-wrapper {
        margin-top: 15px;
    }
    
    .slider {
        width: 400px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .slider-endpoint {
        font-size: 18px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .slider-container {
        margin-top: 40px;
        text-align: center;
    }
    
    .slider-container .header {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .duration {
        margin-top: 32px;
        font-size: 27px;
        padding-bottom: 10px;
    }
    
    .slider-wrapper {
        margin-top: 15px;
    }
    
    .slider {
        width: 450px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .slider-endpoint {
        font-size: 20px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .slider-container {
        margin-top: 40px;
        text-align: center;
    }
    
    .slider-container .header {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .duration {
        margin-top: 40px;
        font-size: 29px;
        padding-bottom: 10px;
    }
    
    .slider-wrapper {
        margin-top: 15px;
    }
    
    .slider {
        width: 450px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .slider-endpoint {
        font-size: 20px;
    }
}


