<app-blocked-sites-exceptions-switcher [switcherChoice]="switcherChoice" [display]="(blockedSites.length > 0) || displayMode" (switcherChange)="onSwitcherChange($event)"></app-blocked-sites-exceptions-switcher>
<div class="blocked-sites-exception-container">
  <div class="blocked-sites" [ngClass]="{hidden: !showBlockedSites()}">
    <app-sites [blockedSites]="blockedSites" [editable]="editable && !sitesLocked" (removeSite)="removeBlockedSite($event)"></app-sites>
  </div>
  <div class="exceptions" [ngClass]="{hidden: !showExceptions()}">
    <app-sites [blockedSites]="exceptions" [editable]="editable" (removeSite)="removeException($event)"></app-sites>
  </div>
</div>