/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .blocked-site {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 15px;
        display: inline-block;
    }
    
    .blocked-site h2 {
        float: left;
        font-size: 20px;
    }
    
    .remove-button {
        background: #f96969; 
        font-size: 10px;
        padding: 4px 9px;
        margin-left: 6px;
        margin-top: 2px;
        border: none;
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        float: left;
        font-family: PoppinsSemiBold;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .blocked-site {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 15px;
        display: inline-block;
    }
    
    .blocked-site h2 {
        float: left;
        font-size: 20px;
    }
    
    .remove-button {
        background: #f96969; 
        font-size: 10px;
        padding: 4px 9px;
        margin-left: 6px;
        margin-top: 2px;
        border: none;
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        float: left;
        font-family: PoppinsSemiBold;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .blocked-site {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 15px;
        display: inline-block;
    }
    
    .blocked-site h2 {
        float: left;
        font-size: 21px;
    }
    
    .remove-button {
        background: #f96969; 
        font-size: 11px;
        padding: 4px 9px;
        margin-left: 6px;
        margin-top: 2px;
        border: none;
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        float: left;
        font-family: PoppinsSemiBold;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .blocked-site {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 15px;
        display: inline-block;
    }
    
    .blocked-site h2 {
        float: left;
        font-size: 23px;
    }
    
    .remove-button {
        background: #f96969; 
        font-size: 12px;
        padding: 4px 9px;
        margin-left: 8px;
        margin-top: 2px;
        border: none;
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        float: left;
        font-family: PoppinsSemiBold;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .blocked-site {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 15px;
        display: inline-block;
    }
    
    .blocked-site h2 {
        float: left;
        font-size: 25px;
    }
    
    .remove-button {
        background: #f96969; 
        font-size: 13px;
        padding: 4px 9px;
        margin-left: 8px;
        margin-top: 2px;
        border: none;
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        float: left;
        font-family: PoppinsSemiBold;
    }
}

.remove-button:hover {
    background: rgb(158, 47, 47); 
}
