<div class="container welcome-container">
    <div class="header">Hi! Welcome to Kora!</div>
    <div class="img-wrapper delay-1">
        <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
          src="./assets/imgs/block_atom_active.png" draggable="false">
    </div>
    <div class="subheader">My name is <span class="bold">Blocker</span> and I'm going to help you be more productive.</div>
    <div class="subheader">But first, let's take a moment to set up Kora together
    </div>
    <div class="button-wrapper">
        <button class="button" routerLink="/welcome-privacy" routerLinkActive="active">Start</button>
    </div>
</div>