/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin-top: 115px;
        font-family: PoppinsBold;
        font-size: 28px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 155px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 21px;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin-top: 115px;
        font-family: PoppinsBold;
        font-size: 28px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 155px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 21px;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin-top: 115px;
        font-family: PoppinsBold;
        font-size: 28px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 155px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 21px;
    }

    .button {
        font-size: 17px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-top: 150px;
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .subheader {
        margin-top: 20px;
        text-align: center;
        font-size: 21px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 23px;
    }

    .button {
        font-size: 18px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-top: 170px;
        font-family: PoppinsBold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .subheader {
        margin-top: 20px;
        text-align: center;
        font-size: 23px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 18px;
    }
}



.hero-image:focus {
    outline: 0;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}