/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .block-type {
        text-align: center;
        margin-top: 40px;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .block-type button {
        font-size: 16px;
        margin-top: 17px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .block-type {
        text-align: center;
        margin-top: 40px;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .block-type button {
        font-size: 16px;
        margin-top: 17px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .block-type {
        text-align: center;
        margin-top: 40px;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .block-type button {
        font-size: 17px;
        margin-top: 20px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .block-type {
        text-align: center;
        margin-top: 40px;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .block-type button {
        font-size: 18px;
        margin-top: 23px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .block-type {
        text-align: center;
        margin-top: 40px;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .block-type button {
        margin-top: 27px;
    }
}