<div class="block-type">
  <div class="header">Block now or schedule block?</div>
  <div class="subheader">Block now for a set duration or block on a repeating weekly schedule</div>
  <div class="block-type-container">
      <button class="button answer hollow" [ngClass]="" (click)="onBlockTypeSelected('one-time')">Block now</button>
      <button class="button answer hollow" [ngClass]="" (click)="onBlockTypeSelected('ongoing')">Schedule block</button>
  </div>
</div>