<div class="container">
  <div class="header">Support mode activated</div>
  <div class="subheader">You can make changes to active blocks for the next 15 minutes</div>
  <i class="material-icons schedule">schedule</i>
  <div class="dashboard-button-wrapper">
    <button class="button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
  </div>
</div>