/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .container {
        text-align: center;
    }
    
    .header {
        margin: 0;
        margin-top: 100px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #1fbf1f;
        font-size: 37px;
    }
    
    .subheader {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 21px;
    }
    
    .schedule {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 175px;
        color: #1fbf1f;
    }
    
    .dashboard-button-wrapper {
        text-align: center;
    }

    .dashboard-button-wrapper .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .container {
        text-align: center;
    }
    
    .header {
        margin: 0;
        margin-top: 100px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #1fbf1f;
        font-size: 37px;
    }
    
    .subheader {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 21px;
    }
    
    .schedule {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 175px;
        color: #1fbf1f;
    }
    
    .dashboard-button-wrapper {
        text-align: center;
    }

    .dashboard-button-wrapper .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .container {
        text-align: center;
    }
    
    .header {
        margin: 0;
        margin-top: 100px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #1fbf1f;
        font-size: 38px;
    }
    
    .subheader {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 22px;
    }
    
    .schedule {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 180px;
        color: #1fbf1f;
    }
    
    .dashboard-button-wrapper {
        text-align: center;
    }

    .dashboard-button-wrapper .button {
        font-size: 17px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .container {
        text-align: center;
    }
    
    .header {
        margin: 0;
        margin-top: 115px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #1fbf1f;
        font-size: 40px;
    }
    
    .subheader {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 23px;
    }
    
    .schedule {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 190px;
        color: #1fbf1f;
    }
    
    .dashboard-button-wrapper {
        text-align: center;
    }

    .dashboard-button-wrapper .button {
        font-size: 18px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .container {
        text-align: center;
    }
    
    .header {
        margin: 0;
        margin-top: 125px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #1fbf1f;
        font-size: 42px;
    }
    
    .subheader {
        text-align: center;
        font-family: PoppinsMedium;
        font-size: 25px;
    }
    
    .schedule {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 200px;
        color: #1fbf1f;
    }
    
    .dashboard-button-wrapper {
        text-align: center;
    }
}

