<div class="exceptions">
    <div class="header">Which sites should I allow?</div>
    <div class="subheader">I'll block the rest to help you stay focused
    </div>
    <div class="exception-bar">
      <app-site-bar (addedSite)="addException($event)"></app-site-bar>
    </div>
</div>