<div class="container trial-expired-container">
  <div class="header">Subscribe now to continue using Kora</div>
  <div class="description">Thank you for trying Kora over the past 7 days. Our sincere hope is that you experienced a week of focus, freedom, and productivity.</div>
  <div class="description">To continue using Kora, subscribe to one of our monthly or annual plans.</div>
  <div class="promo" *ngIf="!offerExpired">
      <div class="title">GET 15% OFF KORA!</div>
      <div class="cta">Subscribe in the next 4 hours to get 15% OFF Kora!</div>
      <div class="coupon">Use coupon code <span class="coupon-code">F062D3C5</span> during checkout</div>
      <div class="time-remaining">Offer expires in <span class="counter">{{offerTimeRemaining.hours}}:{{offerTimeRemaining.minutes}}:{{offerTimeRemaining.seconds}}</span></div>
  </div>
  <div class="button-wrapper">
    <button class="button plans-button" (click)="onViewPlans()">View Kora plans</button>
  </div>
  <div class="description code-cta">After you subscribe, we'll email you a premium code to register below</div>
  <div class="code-input-bar">
      <input class="code-input" [(ngModel)]="code" (keydown)="onKeydown($event)" type="text" placeholder="premium code">
      <button (click)="submitCode()" class="button">Submit</button>
      <div class="clearfix"></div>
  </div>  
  <div class="paste-instructions">Ctrl + V to paste code</div>
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
  <div class="row heroes">
    <div class="col">
        <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
    </div>
  </div>
</div>
<div class="support">Support: korablocker@gmail.com</div>
<ngx-spinner bdColor="rgba(99, 99, 99, 0.66)" size="large" type="ball-clip-rotate-multiple">
</ngx-spinner>