/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }

    .header {
        margin-top: 67px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .button {
        font-size: 15px;
    }

    .promo {
        margin: 0 auto;
        margin-top: 25px;
        width: 485px;
        text-align: center;
        border: 3px solid #2297de;
        border-radius: 15px;
    }

    .promo .title {
        padding: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #2297de;
        font-family: PoppinsSemiBold;
        font-size: 16px;
        color: white;
    }

    .promo .cta {
        margin-top: 13px;
        font-family: PoppinsMedium;
        font-size: 15px;
    }

    .promo .coupon {
        font-family: PoppinsMedium;
        font-size: 15px;
    }

    .coupon-code {
        font-family: PoppinsSemiBold;
        font-size: 16px;
        color: rgb(4, 165, 4);
    }

    .promo .time-remaining {
        margin-top: 9px;
        font-family: PoppinsMedium;
        font-size: 15px;
        margin-bottom: 12px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 42px;
        font-size: 18px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 16px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 800px;
    }

    .header {
        margin-top: 67px;
        font-family: PoppinsBold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .button {
        font-size: 15px;
    }

    .promo {
        margin: 0 auto;
        margin-top: 25px;
        width: 485px;
        text-align: center;
        border: 3px solid #2297de;
        border-radius: 15px;
    }

    .promo .title {
        padding: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #2297de;
        font-family: PoppinsSemiBold;
        font-size: 16px;
        color: white;
    }

    .promo .cta {
        margin-top: 13px;
        font-family: PoppinsMedium;
        font-size: 15px;
    }

    .promo .coupon {
        font-family: PoppinsMedium;
        font-size: 15px;
    }

    .coupon-code {
        font-family: PoppinsSemiBold;
        font-size: 16px;
        color: rgb(4, 165, 4);
    }

    .promo .time-remaining {
        margin-top: 9px;
        font-family: PoppinsMedium;
        font-size: 15px;
        margin-bottom: 12px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 78%;
        margin-left: 8px;  
        height: 42px;
        font-size: 18px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 16px;
        font-family: PoppinsMedium;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 885px;
    }

    .header {
        margin-top: 75px;
        font-family: PoppinsBold;
        font-size: 27px;
        text-align: center;
        margin-bottom: 17px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 17px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 35px;
    }

    .button {
        font-size: 16px;
    }

    .promo {
        margin: 0 auto;
        margin-top: 30px;
        width: 520px;
        text-align: center;
        border: 3px solid #2297de;
        border-radius: 15px;
    }

    .promo .title {
        padding: 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #2297de;
        font-family: PoppinsSemiBold;
        font-size: 17px;
        color: white;
    }

    .promo .cta {
        margin-top: 14px;
        font-family: PoppinsMedium;
        font-size: 16px;
    }

    .promo .coupon {
        font-family: PoppinsMedium;
        font-size: 16px;
    }

    .coupon-code {
        font-family: PoppinsSemiBold;
        font-size: 17px;
        color: rgb(4, 165, 4);
    }

    .promo .time-remaining {
        margin-top: 9px;
        font-family: PoppinsMedium;
        font-size: 16px;
        margin-bottom: 13px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 44px;
        font-size: 20px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 17px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 140px;
    }
    
    .support {
        margin-top: 34px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .container {
        max-width: 995px;
    }

    .header {
        margin-top: 85px;
        font-family: PoppinsBold;
        font-size: 31px;
        text-align: center;
        margin-bottom: 19px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 19px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 18px;
    }

    .promo {
        margin: 0 auto;
        margin-top: 30px;
        width: 555px;
        text-align: center;
        border: 3px solid #2297de;
        border-radius: 15px;
    }

    .promo .title {
        padding: 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #2297de;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: white;
    }

    .promo .cta {
        margin-top: 15px;
        font-family: PoppinsMedium;
        font-size: 18px;
    }

    .promo .coupon {
        font-family: PoppinsMedium;
        font-size: 18px;
    }

    .coupon-code {
        font-family: PoppinsSemiBold;
        font-size: 19px;
        color: rgb(4, 165, 4);
    }

    .promo .time-remaining {
        margin-top: 12px;
        font-family: PoppinsMedium;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 47px;
        font-size: 21px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 50px;
    }
    
    .hero {
        width: 160px;
    }
    
    .support {
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1140px;
    }

    .header {
        margin-top: 130px;
        font-family: PoppinsBold;
        font-size: 39px;
        text-align: center;
        margin-bottom: 21px;
    }
    
    .description {
        font-family: PoppinsMedium;
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 35px;
        text-align: center;
        margin-bottom: 40px;
    }

    .button {
        font-size: 20px;
    }

    .promo {
        margin: 0 auto;
        margin-top: 30px;
        width: 600px;
        text-align: center;
        border: 3px solid #2297de;
        border-radius: 15px;
    }

    .promo .title {
        padding: 6px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #2297de;
        font-family: PoppinsSemiBold;
        font-size: 20px;
        color: white;
    }

    .promo .cta {
        margin-top: 15px;
        font-family: PoppinsMedium;
        font-size: 20px;
    }

    .promo .coupon {
        font-family: PoppinsMedium;
        font-size: 20px;
    }

    .coupon-code {
        font-family: PoppinsSemiBold;
        font-size: 21px;
        color: rgb(4, 165, 4);
    }

    .promo .time-remaining {
        margin-top: 15px;
        font-family: PoppinsMedium;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .code-cta {
        text-align: center;
    }
    
    .code-input-bar {
        width: 60%;
        margin: 0 auto;
        margin-top: 25px;
    }   
    
    .code-input {
        float: left;
        width: 80%;
        margin-left: 8px;  
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        color: #536479;
    }
    
    .code-input-bar button {
        float: left;
    }
    
    .paste-instructions {
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .error {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        color: #ef6868;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 70px;
    }
    
    .hero {
        width: 170px;
    }
    
    .support {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-family: PoppinsMedium;
    }
}

.counter {
    font-family: PoppinsSemiBold;
}

.plans-button {
    font-family: PoppinsSemiBold;
    background: #1DB954;
}

.plans-button:hover {
    background: #1ED760;
}

.support {
    margin-bottom: 60px;
}

