<div class="container">
  <div class="header">Kora upgrade successful!</div>
  <div class="row heroes">
    <div class="col">
        <img class="hero" src="./assets/imgs/block_atom_scheduled_padless.png" draggable="false">
    </div>
  </div>
  <div class="dashboard-button-wrapper">
      <button class="button" routerLink="/dashboard" routerLinkActive="active">Go to Dashboard</button>
  </div>
</div>
