/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin: 0;
        margin-top: 110px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #18a018;
        font-size: 36px;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 150px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 40px;
        text-align: center;
    }

    .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin: 0;
        margin-top: 110px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #18a018;
        font-size: 36px;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 150px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 40px;
        text-align: center;
    }

    .button {
        font-size: 17px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin: 0;
        margin-top: 120px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #18a018;
        font-size: 38px;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 30px;
    }
    
    .hero {
        width: 150px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 40px;
        text-align: center;
    }

    .button {
        font-size: 17px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin: 0;
        margin-top: 135px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #18a018;
        font-size: 40px;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 160px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 50px;
        text-align: center;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin: 0;
        margin-top: 150px;
        text-align: center;
        font-family: PoppinsSemiBold;
        color: #18a018;
        font-size: 42px;
    }
    
    .col {
        text-align: center;
    }
    
    .heroes {
        margin-top: 40px;
    }
    
    .hero {
        width: 170px;
    }
    
    .dashboard-button-wrapper {
        margin-top: 50px;
        text-align: center;
    }
}

