<button class="button back" (click)="onBackPressed()">
    < Back </button>
<div class="outer-container">
    <div class="container block-container">
        <div class="img-wrapper delay-1">
            <img class="atom" src="./assets/imgs/blackout_atom_active.png">
        </div>
        <app-block-type-switcher class="block-type" *ngIf="currentStep === 'block-type'" (blockTypeSelected)="onBlockTypeSelected($event)"></app-block-type-switcher>
        <div class="block-duration-slider" *ngIf="currentStep === 'block-duration-slider'">
            <app-slider [sliderConfig]="sliderConfig" (sliderChanged)="onSliderChanged($event)"></app-slider>
            <div class="continue-div">
                <button class="button continue" (click)="continue('name')">Next</button>
            </div>
        </div>
        <div class="ongoing-days" *ngIf="currentStep === 'select-days'">
            <div class="header">When should I block?</div>
            <app-days [days]="days" (daysChanged)="onDaysChanged($event)"></app-days>
            <div class="continue-div" *ngIf="days.length > 0">
                <button class="button continue" (click)="continue('set-schedule')">Next</button>
            </div>
        </div>
        <div class="ongoing-schedule" *ngIf="currentStep === 'set-schedule'">
            <app-ongoing-schedule [scheduledDays]="scheduledDays" [editing]="true" [lockCurrentScheduledDay]="false"
                (scheduleStatusUpdated)="onScheduleStatusUpdated($event)"></app-ongoing-schedule>
            <div class="continue-div">
                <button class="button continue" *ngIf="validSchedule" (click)="continue('name')">Next</button>
            </div>
        </div>
        <div class="name" *ngIf="currentStep === 'name'">
            <app-name [label]="'Give me a name'" [name]="name" [editable]="true" (nameChanged)="onNameChanged($event)" (nameEntered)="onNameEntered($event)"></app-name>
            <div class="continue-div">
                <button class="button continue" (click)="continue('finish')">Finish</button>
            </div>
        </div>
    </div>
</div>
