<button class="button back" routerLink="/settings" routerLinkActive="active">< Settings</button>
<div class="container privacy-container">
  <div class="header">Privacy Policy</div>
  <div class="policy">
      <p>Kora is owned by Red Koi Labs, LLC (referred to as "Our" or "We"). As a user of this service you're a "User", “Me”, or "You" according to this policy. The applications or any services offered by us will be referred to as "Kora", "Application", or "Service".</p>

      <p>Does Kora store the websites I block or visit on its servers?</p>
      <p>No, these stay local to your computer and are not uploaded to our servers.</p>
      
      <p>When does Kora collect data?</p>
      <p>Kora collects data when you use the Kora application for Windows and send support, privacy, legal, and other requests to us.</p>

      <p>What data does Kora collect about me and why?<p>
      <p>Kora collects general data that is not identified to you unless consent for associating this data with a random, unique identifier is given during Kora setup. Kora tracks usage events in the Kora application that allow us to test new features and improve our service, keep our service working quickly and reliably, debug and develop application, and improve usability of our application.</p>

      <p>Kora also collects and sometimes logs data that might be identified to you: a random, unique identifier used to track application usage if consent is given during Kora setup, the version of the Kora app you are using, and network request data on our servers.</p>

      <p>What kinds of usage events does Kora collect?</p>
      <p>Kora tracks application usage events like a new user using the program for the first time, a new user successfully completing the setup process, a new block being created, free trial expirations, and registering of subscription product keys. This is not an exhaustive list but gives a general overview of the kind of events we track to help make our service better for our users. These events are tracked anonymously unless you give consent during Kora setup to associate your events under a random, unique id.</p> 

      <p>Where does Kora keep data about me?</p>
      <p>The only individual data stored on our servers are network request data, the unique identifiers created for individualized usage events tracking, and information referencing Kora subscriptions. Application usage event data is stored by a company called Mixpanel and the data collected during the purchase process is stored by a company called Paddle. Kora does not store this information on its own servers. All other data is stored locally on your computer.</p>


      <p>Does Kora share data about me with others?</p>
      <p>Kora does not sell information about you to others. However, Kora uses services provided by other companies to provide the Kora service. Some of those services may collect data about you independently, for their own purposes. All of the companies are based in the United States.</p>

      <p>Kora uses Heroku servers and services to power the Kora services. You can read the privacy policy for Heroku online.</p>

      <p>Kora uses Papertrail to collect logs from its servers. You can read the privacy policy for Papertrail online.</p>

      <p>Kora uses Paddle to collect and use payment card payment data. You can read the privacy policy for Paddle online.</p>

      <p>Kora uses Mixpanel to collect and analyze application event data. You can read the privacy policy for Mixpanel online.</p>

      <p>Does Kora make automated decisions based on data about me?</p>
      <p>No. Kora does not use your data for personalization or retargeting purposes.</p>

      <p>How can I access the data about me?</p>
      <p>Send us an email at korablocker@gmail.com and we will send you a copy of the data we have stored about you (if any at all).</p>

      <p>If I consent to individualized event tracking during Kora setup, can I delete or stop this tracking in the future?</p>
      <p>Yes. Send us an email at korablocker@gmail.com with your request and we can delete the existing usage event data we have collected and associated with your random, unique id, or we can restrict the future collection.</p>

      <p>Who can I contact about Kora and my privacy?
      <p>You can send questions to the Kora team at korablocker@gmail.com</p>
  </div>
  <div class="mixpanel-id">{{mixpanelId}}</div>
</div>