/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }

    .container {
        max-width: 800px;
    }
    
    .header {
        margin-top: 90px;
        font-family: PoppinsBold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .policy-item {
        margin-bottom: 35px;
    }
    
    .policy-item .headline {
        font-family: PoppinsSemiBold;
        font-size: 20px;
    }
    
    .policy-item .text {
        margin-top: 5px;
        margin-left: 40px;
        font-size: 18px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }

    .container {
        max-width: 1000px;
    }
    
    .header {
        margin-top: 95px;
        font-family: PoppinsBold;
        font-size: 38px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .policy-item {
        margin-bottom: 35px;
    }
    
    .policy-item .headline {
        font-family: PoppinsSemiBold;
        font-size: 21px;
    }
    
    .policy-item .text {
        margin-top: 5px;
        margin-left: 40px;
        font-size: 19px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }
    
    .header {
        margin-top: 95px;
        font-family: PoppinsBold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .policy-item {
        margin-bottom: 35px;
    }
    
    .policy-item .headline {
        font-family: PoppinsSemiBold;
        font-size: 23px;
    }
    
    .policy-item .text {
        margin-top: 5px;
        margin-left: 40px;
        font-size: 20px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
    }
    
    .header {
        margin-top: 100px;
        font-family: PoppinsBold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .policy-item {
        margin-bottom: 35px;
    }
    
    .policy-item .headline {
        font-family: PoppinsSemiBold;
        font-size: 23px;
    }
    
    .policy-item .text {
        margin-top: 5px;
        margin-left: 40px;
        font-size: 20px;
    }
}

.policy {
    background-color: #ffffff;
    margin: 0 auto;
    width: 700px;
    height: 350px;
    overflow: auto;
    padding: 25px 35px;
}

.mixpanel-id {
    text-align: center;
    font-size: 17px;
}