<div class="name-container">
  <div class="header" *ngIf="label != undefined">{{label}}</div>
  <input class="name-input" *ngIf="editable" [(ngModel)]="name" (ngModelChange)="onNameChanged($event)" (keydown)="onKeydown($event)" type="text" placeholder="enter name">
  <div class="name-display" *ngIf="!editable">
    {{name}}
  </div>
</div>