/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        margin-bottom: 15px;
    }
    
    .name-input {
        height: 45px;
        font-size: 21px;
        padding: 5px 15px;
        width: 365px;
    }
    
    .name-display {
        font-size: 20px;
        font-family: PoppinsRegular;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        margin-bottom: 15px;
    }
    
    .name-input {
        height: 45px;
        font-size: 21px;
        padding: 5px 15px;
        width: 365px;
    }
    
    .name-display {
        font-size: 20px;
        font-family: PoppinsRegular;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        margin-bottom: 15px;
    }
    
    .name-input {
        height: 45px;
        font-size: 22px;
        padding: 5px 15px;
        width: 365px;
    }
    
    .name-display {
        font-size: 22px;
        font-family: PoppinsRegular;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        margin-bottom: 15px;
    }
    
    .name-input {
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        width: 375px;
    }
    
    .name-display {
        font-size: 24px;
        font-family: PoppinsRegular;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        margin-bottom: 15px;
    }
    
    .name-input {
        height: 50px;
        font-size: 25px;
        padding: 5px 15px;
        width: 400px;
    }
    
    .name-display {
        font-size: 26px;
        font-family: PoppinsRegular;
    }
}

.name-container {
    text-align: center;
}