<div class="dashboard-container">
    <div class="header">
        <div class="initial-header">   
            <h1 class="headline">Kora</h1>
            <h2 class="subheadline">save time and protect your focus.</h2>
        </div>
    </div>
    <i class="material-icons settings" routerLink="/settings" routerLinkActive="active">settings</i>
    <i class="material-icons support" [ngClass]="{'support-adjust': displayTrialOffer}" routerLink="/support" routerLinkActive="active">help</i>
    <div class="add-block-bar">
        <button class="button" routerLink="/blocker" routerLinkActive="active">Add block</button>
    </div>
    <div class="container hero-container">
        <div class="active-heroes" *ngIf="oneTimeHeroes.length > 0">
            <div class="row">
                <div class="col-3" *ngFor="let hero of oneTimeHeroes; let i = index">
                    <div class="hero-wrapper" [ngClass]= "hero._id" (click)="onHeroClicked(hero)">
                        <div class="hero">
                            <div class="img-wrapper" [ngClass]="{'hider': hero.status !== 'active', 'delay-2': (i % 6 == 0), 'delay-1': (i % 6 == 1), 'delay-3': (i % 6 == 2), 'delay-6': (i % 6 == 3), 'delay-4': (i % 6 == 4), 'delay-5': (i % 6 == 5)}">
                                <img src="./assets/imgs/block_atom_active.png" *ngIf="hero.heroType === 'blocker'" draggable="false">
                                <img src="./assets/imgs/laser_atom_active.png" *ngIf="hero.heroType === 'laser'" draggable="false">
                                <img src="./assets/imgs/blackout_atom_active.png" *ngIf="hero.heroType === 'blackout'" draggable="false">
                            </div>
                            <div class="img-wrapper finished pulsing" [ngClass]="{'hider': hero.status !== 'resting'}">
                                <img src="./assets/imgs/block_atom_sleeping.gif" *ngIf="hero.heroType === 'blocker'" draggable="false">
                                <img src="./assets/imgs/laser_atom_sleeping.gif" *ngIf="hero.heroType === 'laser'" draggable="false">
                                <img src="./assets/imgs/blackout_atom_sleeping.gif" *ngIf="hero.heroType === 'blackout'" draggable="false">                            
                            </div>
                            <div class="name">{{hero.name}}</div>
                            <div class="active" *ngIf="hero.status === 'active'">
                                <div class="time-remaining">
                                    <span class="days" *ngIf="hero.timeRemaining.days > 0">
                                        {{hero.timeRemaining.days}}<span class="time-unit">D</span>
                                    </span>
                                    <span class="hours" *ngIf="((hero.timeRemaining.days > 0) || (hero.timeRemaining.hours > 0))">
                                        {{hero.timeRemaining.hours}}<span class="time-unit">H</span>
                                    </span>
                                    <span class="minutes" *ngIf="hero.timeRemaining.timeRemainingInMinutes > 0">
                                        {{hero.timeRemaining.minutes}}<span class="time-unit">M</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="active-heroes" *ngIf="ongoingHeroes.length > 0">
            <div class="row">
                <div class="col-3" *ngFor="let hero of ongoingHeroes; let i = index">
                    <div class="hero-wrapper" [ngClass]= "hero._id" (click)="onHeroClicked(hero)">
                        <div class="hero">
                            <div class="img-wrapper" [ngClass]="{'hider': hero.status !== 'active', 'delay-2': (i % 6 == 0), 'delay-1': (i % 6 == 1), 'delay-3': (i % 6 == 2), 'delay-6': (i % 6 == 3), 'delay-4': (i % 6 == 4), 'delay-5': (i % 6 == 5)}">
                                <img src="./assets/imgs/block_atom_active.png" *ngIf="hero.heroType === 'blocker'" draggable="false">
                                <img src="./assets/imgs/laser_atom_active.png" *ngIf="hero.heroType === 'laser'" draggable="false">
                                <img src="./assets/imgs/blackout_atom_active.png" *ngIf="hero.heroType === 'blackout'" draggable="false">
                            </div>
                            <div class="img-wrapper finished pulsing" [ngClass]="{'hider': hero.status !== 'scheduled'}">
                                <img src="./assets/imgs/block_atom_scheduled.png" *ngIf="hero.heroType === 'blocker'" draggable="false">
                                <img src="./assets/imgs/laser_atom_scheduled.png" *ngIf="hero.heroType === 'laser'" draggable="false">
                                <img src="./assets/imgs/blackout_atom_scheduled.png" *ngIf="hero.heroType === 'blackout'" draggable="false">
                            </div>
                            <div class="name">{{hero.name}}</div>
                            <div class="active" *ngIf="hero.status === 'active'">
                                <div class="time-remaining">
                                    <span class="days" *ngIf="hero.timeRemaining.days > 0">
                                        {{hero.timeRemaining.days}}<span class="time-unit">D</span>
                                    </span>
                                    <span class="hours" *ngIf="((hero.timeRemaining.days > 0) || (hero.timeRemaining.hours > 0))">
                                        {{hero.timeRemaining.hours}}<span class="time-unit">H</span>
                                    </span>
                                    <span class="minutes" *ngIf="hero.timeRemaining.minutes > 0">
                                        {{hero.timeRemaining.minutes}}<span class="time-unit">M</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="free-trial-incentive-footer" *ngIf="displayTrialOffer">
        <div class="content">
            <div class="cta">SPECIAL KORA PROMO: Subscribe before your trial ends and get 20% OFF!</div>
            <div class="time-bar">
                <div class="section">
                    <div class="number">{{trialTimeRemaining.days}}</div>
                    <div class="unit">Days</div>
                </div>
                <div class="section">
                    <div class="number">{{trialTimeRemaining.hours}}</div>
                    <div class="unit">Hours</div>
                </div>
                <div class="section">
                    <div class="number">{{trialTimeRemaining.minutes}}</div>
                    <div class="unit">Mins</div>
                </div>
                <div class="section">
                    <div class="number">{{trialTimeRemaining.seconds}}</div>
                    <div class="unit">Secs</div>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="button view-offer" (click)="onTrialOfferClick()">Get 20% OFF promo code ></button>
            </div>
        </div>
    </div>
</div>
