/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .dashboard-container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding-top: 45px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 45px;
        text-align: center;
        margin: 0;
    }
    
    .subheadline {
        font-size: 23px;
        margin: 0;
        text-align: center;
    }
    
    .add-block-bar {
        text-align: center;
        margin-top: 28px;
    }

    .add-block-bar .button {
        font-size: 17px;
    }
    
    .hero-container {
        margin-top: 35px;
    }
    
    .hero-wrapper {
        text-align: center;
        margin-bottom: 35px;
    }
    
    .hero .img-wrapper:hover {
        cursor: pointer;
    }
    
    .hero img {
        width: 130px;
        display: block;
        margin: auto;
    }
    
    .hero .name {
        margin-top: 15px;
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero .active .time-remaining {
        font-size: 16px;
    }
    
    .hero .active .time-remaining .time-unit {
        font-size: 14px;
    }
    
    .finished {
        opacity: 0.7;
    }

    .settings {
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: 37px;
        outline: none;
    }
    
    .settings:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support {
        position: fixed;
        top: 92.9%;
        left: 94.3%;
        font-size: 34px;
        outline: none;
    }
    
    .support:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support-adjust {
        top: 87.9%;
    }

    .free-trial-incentive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 42px;
        background-color: #6deaef;
        text-align: left;
    }
    
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 14px;
        margin-top: 10px;
        font-family: PoppinsSemiBold;
        margin-left: 80px;
    }
    
    .free-trial-incentive-footer .content .time-bar {
        position: absolute;
        display: inline-block;
        height: 42px;
        margin-left: 20px;
        /* background-color: white; */
    }
    
    .free-trial-incentive-footer .content .time-bar .section {
        text-align: center;
        display: inline-block;    
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .number {
        font-size: 15px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .unit {
        font-size: 10px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 3px;   
        margin-right: 60px;
    }   

    .free-trial-incentive-footer .content .button-wrapper .button {
        border-radius: 7px;
        padding: 8px 11px;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .dashboard-container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding-top: 45px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 45px;
        text-align: center;
        margin: 0;
    }
    
    .subheadline {
        font-size: 23px;
        margin: 0;
        text-align: center;
    }
    
    .add-block-bar {
        text-align: center;
        margin-top: 28px;
    }

    .add-block-bar .button {
        font-size: 17px;
    }
    
    .hero-container {
        margin-top: 35px;
    }
    
    .hero-wrapper {
        text-align: center;
        margin-bottom: 35px;
    }
    
    .hero .img-wrapper:hover {
        cursor: pointer;
    }
    
    .hero img {
        width: 130px;
        display: block;
        margin: auto;
    }
    
    .hero .name {
        margin-top: 15px;
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero .active .time-remaining {
        font-size: 16px;
    }
    
    .hero .active .time-remaining .time-unit {
        font-size: 14px;
    }
    
    .finished {
        opacity: 0.7;
    }

    .settings {
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: 37px;
        outline: none;
    }
    
    .settings:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support {
        position: fixed;
        top: 92.9%;
        left: 94.3%;
        font-size: 34px;
        outline: none;
    }
    
    .support:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support-adjust {
        top: 87.9%;
    }

    .free-trial-incentive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 42px;
        background-color: #6deaef;
        text-align: left;
    }
    
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 14px;
        margin-top: 10px;
        font-family: PoppinsSemiBold;
        margin-left: 80px;
    }
    
    .free-trial-incentive-footer .content .time-bar {
        position: absolute;
        display: inline-block;
        height: 42px;
        margin-left: 20px;
        /* background-color: white; */
    }
    
    .free-trial-incentive-footer .content .time-bar .section {
        text-align: center;
        display: inline-block;    
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .number {
        font-size: 15px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .unit {
        font-size: 10px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 3px;   
        margin-right: 60px;
    }   

    .free-trial-incentive-footer .content .button-wrapper .button {
        border-radius: 7px;
        padding: 8px 11px;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .dashboard-container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding-top: 50px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 47px;
        text-align: center;
        margin: 0;
    }
    
    .subheadline {
        font-size: 24px;
        margin: 0;
        text-align: center;
    }
    
    .add-block-bar {
        text-align: center;
        margin-top: 30px;
    }

    .add-block-bar .button {
        font-size: 17px;
    }
    
    .hero-container {
        margin-top: 40px;
    }
    
    .hero-wrapper {
        text-align: center;
        margin-bottom: 35px;
    }
    
    .hero .img-wrapper:hover {
        cursor: pointer;
    }
    
    .hero img {
        width: 130px;
        display: block;
        margin: auto;
    }
    
    .hero .name {
        margin-top: 15px;
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero .active .time-remaining {
        font-size: 16px;
    }
    
    .hero .active .time-remaining .time-unit {
        font-size: 14px;
    }
    
    .finished {
        opacity: 0.7;
    }

    .settings {
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: 38px;
        outline: none;
    }
    
    .settings:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support {
        position: fixed;
        top: 93%;
        left: 95.5%;
        font-size: 35px;
        outline: none;
    }
    
    .support:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support-adjust {
        top: 88%;
    }

    .free-trial-incentive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 42px;
        background-color: #6deaef;
        text-align: center;
    }
    
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        font-family: PoppinsSemiBold;
        margin-left: 0px;
    }
    
    .free-trial-incentive-footer .content .time-bar {
        position: absolute;
        display: inline-block;
        height: 42px;
        margin-left: 20px;
        /* background-color: white; */
    }
    
    .free-trial-incentive-footer .content .time-bar .section {
        display: inline-block;    
        margin-top: 1px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .number {
        font-size: 16px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .unit {
        font-size: 11px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 3px;   
        margin-right: 110px;
    }   

    .free-trial-incentive-footer .content .button-wrapper .button {
        border-radius: 7px;
        padding: 7px 15px;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* USE ONLY FOR TRIAL INCENTIVE OFFER - Medium resolution pc display (1366px and up)  */
@media only screen and (min-width: 1366px) {
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        font-family: PoppinsSemiBold;
        margin-left: 60px;
    }

    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 3px;   
        margin-right: 140px;
    }   
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .dashboard-container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding-top: 60px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 52px;
        text-align: center;
        margin: 0;
    }
    
    .subheadline {
        font-size: 27px;
        margin: 0;
        text-align: center;
    }
    
    .add-block-bar {
        text-align: center;
        margin-top: 40px;
    }

    .add-block-bar .button {
        font-size: 19px;
    }
    
    .hero-container {
        margin-top: 50px;
    }
    
    .hero-wrapper {
        text-align: center;
        margin-bottom: 35px;
    }
    
    .hero .img-wrapper:hover {
        cursor: pointer;
    }
    
    .hero img {
        width: 140px;
        display: block;
        margin: auto;
    }
    
    .hero .name {
        margin-top: 15px;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .hero .active .time-remaining {
        font-size: 17px;
    }
    
    .hero .active .time-remaining .time-unit {
        font-size: 15px;
    }
    
    .finished {
        opacity: 0.7;
    }

    .settings {
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: 43px;
        outline: none;
    }
    
    .settings:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support {
        position: fixed;
        top: 93.2%;
        left: 95.8%;
        font-size: 40px;
        outline: none;
    }
    
    .support:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support-adjust {
        top: 89.2%;
    }

    .free-trial-incentive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #6deaef;
        text-align: center;
    }
    
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 18px;
        margin-top: 12px;
        font-family: PoppinsSemiBold;
        margin-left: 110px;
    }
    
    .free-trial-incentive-footer .content .time-bar {
        position: absolute;
        display: inline-block;
        height: 50px;
        margin-left: 20px;
        /* background-color: white; */
    }
    
    .free-trial-incentive-footer .content .time-bar .section {
        display: inline-block;    
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .number {
        font-size: 18px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .unit {
        font-size: 12px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 4px;   
        margin-right: 190px;
    }
    

    .free-trial-incentive-footer .content .button-wrapper .button {
        border-radius: 7px;
        padding: 9px 15px;
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .dashboard-container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        padding-top: 70px;
    }
    
    .headline {
        font-family: PoppinsSemiBold;
        font-size: 55px;
        text-align: center;
        margin: 0;
    }
    
    .subheadline {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    
    .add-block-bar {
        text-align: center;
        margin-top: 50px;
    }
    
    .hero-container {
        margin-top: 70px;
    }
    
    .hero-wrapper {
        text-align: center;
        margin-bottom: 35px;
    }
    
    .hero .img-wrapper:hover {
        cursor: pointer;
    }
    
    .hero img {
        width: 160px;
        display: block;
        margin: auto;
    }
    
    .hero .name {
        margin-top: 15px;
        font-size: 22px;
        font-family: PoppinsMedium;
    }
    
    .hero .active .time-remaining {
        font-size: 18px;
    }
    
    .hero .active .time-remaining .time-unit {
        font-size: 16px;
    }
    
    .finished {
        opacity: 0.7;
    }

    .settings {
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 43px;
        outline: none;
    }
    
    .settings:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support {
        position: fixed;
        top: 94%;
        left: 96%;
        font-size: 43px;
        outline: none;
    }
    
    .support:hover {
        cursor: pointer;
        color: #536479cf;
    }

    .support-adjust {
        top: 89%;
    }

    .free-trial-incentive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #6deaef;
        text-align: center;
    }
    
    .free-trial-incentive-footer .content .cta {
        display: inline-block;
        font-size: 20px;
        margin-top: 16px;
        font-family: PoppinsSemiBold;
        margin-left: 230px;
    }
    
    .free-trial-incentive-footer .content .time-bar {
        position: absolute;
        display: inline-block;
        height: 60px;
        margin-left: 20px;
        /* background-color: white; */
    }
    
    .free-trial-incentive-footer .content .time-bar .section {
        display: inline-block;    
        margin-top: 5px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .number {
        font-size: 21px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .time-bar .section .unit {
        font-size: 13px;
        font-family: PoppinsSemiBold;
    }
    
    .free-trial-incentive-footer .content .button-wrapper {
        float: right;
        margin-top: 5px;
        margin-right: 210px;
    }

    .free-trial-incentive-footer .content .button-wrapper .button {
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.free-trial-incentive-footer .content .time-bar .section .number {
    font-family: VarelaRoundRegular;
    font-weight: 800;
}

.pulsing {
    animation: pulse 4.35s infinite ease-in-out;
}

.rotation {
    animation: rotation 2s infinite ease-in-out alternate;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.delay-2 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.delay-3 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

.delay-4 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}

.delay-5 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

.delay-6 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 5px, 0); }
}

@keyframes rotation {
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% { transform: scale(0.96); opacity: 0.5; }
    50% { transform: scale(1); opacity: 0.7; }
    100% { transform: scale(0.96); opacity: 0.5; }
}