<div class="container onboarding-complete-container">
  <div class="header">Setup complete! First block created!</div>
  <div class="subheader">Congrats on setting up Kora and creating your first block! <span class="bold">Now watch the short video below</span> before we bring you to the dashboard (turn on sound)</div>
  <div class="cta">Click anywhere on the video to start playing</div>
  <div class="video-container">
    <video class="video" id="video" width="950" height="600" controls>
      <source src="./assets/videos/kora_crash_course.mp4" type="video/mp4">
    </video>
  </div>
  <div class="subheader">We'll take you to the dashboard when the video ends!</div>
</div>