/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 705px;
    }
    
    .header {
        color: #1bb71b;
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
    }
    
    .cta {
        margin-top: 25px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsBold;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        font-family: PoppinsMedium;
    }
    
    .video-container {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .video {
        display: block;
        margin: 0 auto;
        border: 5px solid #1bb71b;
        width: 633px;
        height: 400px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 705px;
    }
    
    .header {
        color: #1bb71b;
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
    }
    
    .cta {
        margin-top: 25px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsBold;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        font-family: PoppinsMedium;
    }
    
    .video-container {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .video {
        display: block;
        margin: 0 auto;
        border: 5px solid #1bb71b;
        width: 633px;
        height: 400px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 750px;
    }
    
    .header {
        color: #1bb71b;
        margin-top: 65px;
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
    }
    
    .cta {
        margin-top: 32px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsBold;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
    
    .video-container {
        margin-top: 15px;
        margin-bottom: 37px;
    }
    
    .video {
        display: block;
        margin: 0 auto;
        border: 5px solid #1bb71b;
        width: 633px;
        height: 400px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .container {
        max-width: 890px;
    }
    
    .header {
        color: #1bb71b;
        margin-top: 70px;
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
    }
    
    .cta {
        margin-top: 45px;
        text-align: center;
        font-size: 21px;
        font-family: PoppinsBold;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .video-container {
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    .video {
        display: block;
        margin: 0 auto;
        border: 5px solid #1bb71b;
        width: 760px;
        height: 480px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1000px;
    }
    
    .header {
        color: #1bb71b;
        margin-top: 95px;
        font-family: PoppinsBold;
        font-size: 34px;
        text-align: center;
    }
    
    .cta {
        margin-top: 50px;
        text-align: center;
        font-size: 23px;
        font-family: PoppinsBold;
    }
    
    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 21px;
        font-family: PoppinsMedium;
    }
    
    .video-container {
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    .video {
        display: block;
        margin: 0 auto;
        border: 5px solid #1bb71b;
        width: 950px;
        height: 600px;
    }
}

