/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-icons/iconfont/material-icons.css";
@import url("assets/styles/fonts.css");
@import url("assets/styles/ball-atom.css");

* {
    font-family: PoppinsRegular;
}

html {
    overflow: auto;
    overflow-x: hidden;
    background-color: #F1F8FF;
}

body {
    margin: 0;
    color: #536479 !important;
}

.hidden {
    visibility: hidden;
}

.hider {
    display: none !important;
}

.main-container {
    width: 100%;
	height: 100%;
    background-color: #F1F8FF;
    position: absolute;
}

.button {
    /* background: rgb(26, 46, 59);  */
    background: #536479;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: PoppinsMedium;
}

.button:hover {
    /* background: #449C9C; */
    background: #536479cf;
}

.no-hover:hover {
    background: rgb(26, 46, 59); 
}

.button:focus {
    outline: 0;
}

.button-disabled {
    background: rgb(26, 46, 59); 
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: PoppinsMedium;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bold {
    font-family: PoppinsSemiBold;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* SLIDER */
.mat-slider-thumb {
    border-width: 2px !important;
    transform: scale(1) !important;
    background-color: #ff4081 !important;
    border: 3px solid transparent !important;
}

/* TIME PICKER */
.time-picker-header {
    background-color: #536479 !important;
}

.time-picker-clock .active {
    background-color: #536479 !important;
}

.time-picker-clock-origin {
    background-color: #536479 !important;
}

.time-picker-clock-arrow {
    background-color: #536479 !important;
}

.time-picker-footer button {
    color: #536479 !important;
}

