<div class="container welcome-container">
    <div class="setup-progress">Your block is almost ready!</div>
    <div class="header">Now Install the Kora Chrome Extension</div>
    <div class="row first-row">
        <div class="col-6 step-one">
            <div class="step-title">Step<i class="material-icons step-number">looks_one</i></div>
            <div class="step-desc">Click the button to open the extension page</div>
            <i class="material-icons down-arrow">arrow_downward</i>
            <div class="button-wrapper">
                <button class="button" (click)="installChromeExtension()">Kora Chrome Extension</button>
            </div>
        </div>
        <div class="col-6">
            <div class="step-title">Step<i class="material-icons step-number">looks_two</i></div>
            <div class="step-desc">On the extension page, click "Add to Chrome"</div>
            <div class="extension-img-wrapper">
                <img class="add-to-chrome" src="./assets/imgs/add_to_chrome.png" draggable="false">
            </div>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-6">
            <div class="step-title">Step<i class="material-icons step-number">looks_3</i></div>
            <div class="step-desc">On the pop-up window, click "Add Extension"</div>
            <div class="extension-img-wrapper">
                <img class="add-to-chrome-popup" src="./assets/imgs/add_to_chrome_popup.png" draggable="false">
            </div>
        </div>
        <div class="col-6">
            <div class="step-title">Step<i class="material-icons step-number">looks_4</i></div>
            <div class="step-desc">In extension settings, turn on "Allow in incognito"</div>
            <div class="extension-img-wrapper">
                <img class="add-to-chrome-incognito" src="./assets/imgs/allow_in_incognito_test.PNG" draggable="false">
            </div>
        </div>
    </div>
</div>