/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 880px;
    }

    .setup-progress {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 5px;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 6px;
        text-align: center;
    }
    
    .link {
        margin-top: 10px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 19px;
    }

    .down-arrow {
        display: block;
        font-size: 50px;
        text-align: center;
    }

    .step-one .step-desc {
        margin-bottom: 3px !important;
    }

    .step-title {
        font-size: 22px;
        font-family: PoppinsBold;
        margin-bottom: 5px;
    }
    
    .step-number {
        position: absolute;
        font-size: 36px;
        margin-top: -3px;
        margin-left: 0px;
    }

    .step-desc {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .first-row {
        margin-top: 45px;
    }
    
    .second-row {
        margin-top: 55px;
    }
    
    .button {
        font-size: 16px;
    }

    .add-to-chrome {
        width: 60%;
    }

    .add-to-chrome-popup {
        width: 85%;
    }

    .add-to-chrome-incognito {
        width: 106%;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 880px;
    }

    .setup-progress {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 5px;
        font-size: 17px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 6px;
        text-align: center;
    }
    
    .link {
        margin-top: 10px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 19px;
    }

    .down-arrow {
        display: block;
        font-size: 50px;
        text-align: center;
    }

    .step-one .step-desc {
        margin-bottom: 3px !important;
    }

    .step-title {
        font-size: 22px;
        font-family: PoppinsBold;
        margin-bottom: 5px;
    }
    
    .step-number {
        position: absolute;
        font-size: 36px;
        margin-top: -3px;
        margin-left: 0px;
    }

    .step-desc {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .first-row {
        margin-top: 45px;
    }
    
    .second-row {
        margin-top: 55px;
    }
    
    .button {
        font-size: 16px;
    }

    .add-to-chrome {
        width: 60%;
    }

    .add-to-chrome-popup {
        width: 85%;
    }

    .add-to-chrome-incognito {
        width: 106%;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 975px;
    }

    .setup-progress {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 6px;
        text-align: center;
    }
    
    .link {
        margin-top: 10px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 21px;
    }

    .down-arrow {
        display: block;
        font-size: 60px;
        text-align: center;
    }

    .step-one .step-desc {
        margin-bottom: 3px !important;
    }

    .step-title {
        font-size: 24px;
        font-family: PoppinsBold;
        margin-bottom: 6px;
    }
    
    .step-number {
        position: absolute;
        font-size: 38px;
        margin-top: -2px;
        margin-left: 0px;
    }
    
    .step-desc {
        font-family: PoppinsMedium;
        text-align: center;
        font-size: 19px;
        margin-bottom: 20px;
    }

    .first-row {
        margin-top: 45px;
    }
    
    .second-row {
        margin-top: 55px;
    }
    
    .button {
        font-size: 17px;
    }

    .add-to-chrome {
        width: 60%;
    }

    .add-to-chrome-popup {
        width: 85%;
    }

    .add-to-chrome-incognito {
        width: 113%;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1140px;
    }

    .setup-progress {
        text-align: center;
        margin-top: 75px;
        margin-bottom: 5px;
        font-size: 21px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        margin-top: 10px;
        text-align: center;
    }
    
    .link {
        margin-top: 10px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 23px;
    }

    .down-arrow {
        display: block;
        font-size: 65px;
        text-align: center;
    }

    .step-one .step-desc {
        margin-bottom: 8px !important;
    }

    .step-title {
        font-size: 26px;
        font-family: PoppinsBold;
        margin-bottom: 6px;
    }
    
    .step-number {
        position: absolute;
        font-size: 40px;
        margin-top: -1px;
        margin-left: 0px;
    }
    
    .step-desc {
        font-family: PoppinsMedium;
        text-align: left;
        font-size: 21px;
        margin-bottom: 20px;
    }

    .first-row {
        margin-top: 55px;
    }
    
    .second-row {
        margin-top: 75px;
    }
    
    .button {
        font-size: 18px;
    }

    .add-to-chrome {
        width: 60%;
    }

    .add-to-chrome-popup {
        width: 85%;
    }

    .add-to-chrome-incognito {
        width: 113%;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1180px;
    }

    .setup-progress {
        text-align: center;
        margin-top: 120px;
        margin-bottom: 5px;
        font-size: 23px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 33px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .button-wrapper {
        margin-top: 10px;
        text-align: center;
    }
    
    .link {
        margin-top: 10px;
        text-align: center;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .down-arrow {
        display: block;
        font-size: 70px;
        text-align: center;
    }

    .step-one .step-desc {
        margin-bottom: 8px !important;
    }

    .step-title {
        font-size: 30px;
        font-family: PoppinsBold;
        margin-bottom: 10px;
    }
    
    .step-number {
        position: absolute;
        font-size: 42px;
        margin-top: 2px;
        margin-left: 0px;
    }
    
    .step-desc {
        font-family: PoppinsMedium;
        text-align: left;
        font-size: 23px;
        margin-bottom: 20px;
    }

    .first-row {
        margin-top: 75px;
    }
    
    .second-row {
        margin-top: 100px;
    }

    .button {
        font-size: 18px;
    }

    .add-to-chrome {
        width: 60%;
    }

    .add-to-chrome-popup {
        width: 85%;
    }

    .add-to-chrome-incognito {
        width: 126%;
    }
}

.add-to-chrome, .add-to-chrome-popup {
    display: block;
    margin: auto;
}