<div class="container setup-finished">
    <div class="header">Setup complete! First block created!</div>
    <div class="subheader">Congrats on setting up Kora and creating your first block!</div>
    <div class="img-wrapper delay-1">
        <img class="hero-image" routerLink="/blocker" routerLinkActive="active"
            src="./assets/imgs/block_atom_active.png" draggable="false">
    </div>
    <div class="subheader">Now you'll be taken to the <span class="bold">Dashboard</span> where all your blocks live
    </div>
</div>