/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .header {
        color: #1bb71b;
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
    }

    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        font-family: PoppinsMedium;
    }

    .hero-image {
        width: 115px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}   

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .header {
        color: #1bb71b;
        margin-top: 60px;
        font-family: PoppinsBold;
        font-size: 22px;
        text-align: center;
    }

    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        font-family: PoppinsMedium;
    }

    .hero-image {
        width: 115px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .header {
        color: #1bb71b;
        margin-top: 65px;
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
    }

    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 17px;
        font-family: PoppinsMedium;
    }

    .hero-image {
        width: 130px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .header {
        color: #1bb71b;
        margin-top: 95px;
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
    }

    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        font-family: PoppinsMedium;
    }

    .hero-image {
        width: 150px;
        display: block;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .header {
        color: #1bb71b;
        margin-top: 120px;
        font-family: PoppinsBold;
        font-size: 34px;
        text-align: center;
    }

    .subheader {
        margin-top: 15px;
        text-align: center;
        font-size: 21px;
        font-family: PoppinsMedium;
    }

    .hero-image {
        width: 165px;
        display: block;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
}

.hero-image:focus {
    outline: 0;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}