/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .setup-progress {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .policy {
        font-size: 14px;
        background-color: #ffffff;
        margin: 0 auto;
        width: 625px;
        height: 250px;
        overflow: auto;
        padding: 25px 35px;
    }
    
    .consent-wrapper {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 20px;
        width: 650px;
        clear: both;
        float: none;
        position: relative;
    }
    
    #consent {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
    }
    
    #consent-label {
        font-size: 14px;
        display: block;
        margin-left: 24px;
    }
    
    .note {
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 145px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .setup-progress {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .policy {
        font-size: 14px;
        background-color: #ffffff;
        margin: 0 auto;
        width: 625px;
        height: 250px;
        overflow: auto;
        padding: 25px 35px;
    }
    
    .consent-wrapper {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 20px;
        width: 650px;
        clear: both;
        float: none;
        position: relative;
    }
    
    #consent {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
    }
    
    #consent-label {
        font-size: 14px;
        display: block;
        margin-left: 24px;
    }
    
    .note {
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 145px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 16px;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .setup-progress {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 19px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .policy {
        font-size: 15px;
        background-color: #ffffff;
        margin: 0 auto;
        width: 625px;
        height: 250px;
        overflow: auto;
        padding: 25px 35px;
    }
    
    .consent-wrapper {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 20px;
        width: 650px;
        clear: both;
        float: none;
        position: relative;
    }
    
    #consent {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
    }
    
    #consent-label {
        font-size: 15px;
        display: block;
        margin-left: 24px;
    }
    
    .note {
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 145px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 16px;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .setup-progress {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 5px;
        font-size: 23px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .policy {
        font-size: 16px;
        background-color: #ffffff;
        margin: 0 auto;
        width: 650px;
        height: 300px;
        overflow: auto;
        padding: 25px 35px;
    }
    
    .consent-wrapper {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 20px;
        width: 650px;
        clear: both;
        float: none;
        position: relative;
    }
    
    #consent {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
    }
    
    #consent-label {
        font-size: 16px;
        display: block;
        margin-left: 24px;
    }
    
    .note {
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 18px;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .setup-progress {
        text-align: center;
        margin-top: 130px;
        margin-bottom: 5px;
        font-size: 23px;
        font-family: PoppinsMedium;
    }
    
    .header {
        font-family: PoppinsBold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .policy {
        font-size: 16px;
        background-color: #ffffff;
        margin: 0 auto;
        width: 700px;
        height: 350px;
        overflow: auto;
        padding: 25px 35px;
    }
    
    .consent-wrapper {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 20px;
        width: 700px;
        clear: both;
        float: none;
        position: relative;
    }
    
    #consent {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
    }
    
    #consent-label {
        font-size: 16px;
        display: block;
        margin-left: 24px;
    }
    
    .note {
        font-size: 18px;
        font-family: PoppinsMedium;
    }
    
    .hero-image {
        width: 170px;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .button-wrapper {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .bold {
        font-family: PoppinsBold;
        font-size: 25px;
    }

    .button {
        font-size: 18px;
    }
}

.hero-image:focus {
    outline: 0;
}

.delay-1 {
    animation: hover 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 3px, 0); }
}