/* Low resolution pc display (1024px and lower)  */
@media only screen and (max-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .settings-container {
        text-align: center
    }
    
    .header {
        margin-top: 80px;
        font-family: PoppinsBold;
        font-size: 38px;
    }
    
    .settings-list {
        width: 500px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .settings-item {
        font-size: 20px;
        font-family: PoppinsMedium;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #53647917;
        outline: none;
    }
}

/* Low resolution pc display (1024px and up)  */
@media only screen and (min-width: 1024px) {
    .back {
        position: absolute;
        margin-top: 40px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .settings-container {
        text-align: center
    }
    
    .header {
        margin-top: 80px;
        font-family: PoppinsBold;
        font-size: 38px;
    }
    
    .settings-list {
        width: 500px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .settings-item {
        font-size: 20px;
        font-family: PoppinsMedium;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #53647917;
        outline: none;
    }
}

/* Low resolution pc display (1280px and up)  */
@media only screen and (min-width: 1280px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 55px;
        font-size: 17px;
    }
    
    .settings-container {
        text-align: center
    }
    
    .header {
        margin-top: 110px;
        font-family: PoppinsBold;
        font-size: 40px;
    }
    
    .settings-list {
        width: 500px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .settings-item {
        font-size: 20px;
        font-family: PoppinsMedium;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #53647917;
        outline: none;
    }
}

/* Medium resolution pc display (1600px and up)  */
@media only screen and (min-width: 1600px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 18px;
    }
    
    .settings-container {
        text-align: center
    }
    
    .header {
        margin-top: 110px;
        font-family: PoppinsBold;
        font-size: 45px;
    }
    
    .settings-list {
        width: 500px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .settings-item {
        font-size: 22px;
        font-family: PoppinsMedium;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #53647917;
        outline: none;
    }
}

/* High resolution pc display (1920px and up) */
@media only screen and (min-width: 1920px) {
    .back {
        position: absolute;
        margin-top: 50px;
        margin-left: 75px;
        font-size: 20px;
    }
    
    .settings-container {
        text-align: center
    }
    
    .header {
        margin-top: 125px;
        font-family: PoppinsBold;
        font-size: 50px;
    }
    
    .settings-list {
        width: 500px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .settings-item {
        font-size: 22px;
        font-family: PoppinsMedium;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #53647917;
        outline: none;
    }
}

.settings-item:hover {
    cursor: default;
    background-color: #40d06c3d;
}