<button class="button back" routerLink="/dashboard" routerLinkActive="active">< Back</button>
<div class="container settings-container">
  <div class="header">Settings</div>
  <div class="settings-list">
    <div class="settings-item" *ngIf="freeTrialUser" routerLink="/upgrade" routerLinkActive="active">Upgrade</div>
    <div class="settings-item" routerLink="/support" routerLinkActive="active">Support</div>
    <div class="settings-item" routerLink="/privacy" routerLinkActive="active">Privacy</div>
  </div>
</div>